In [3]:
import yfinance as yf
import numpy as np
import pandas as pd

In [69]:

#Key Metrics คือปัจจัยหรือตัวชี้วัดที่สำคัญที่สามารถบ่งบอกได้ว่าสิ่งใดจะทำให้บริษัทประสบความ
# สำเร็จหรือไม่สำเร็จ และมีโอกาสที่จะเติบโตในอนาคตหรือไม่

# returns คือผลตอบแทนรายปี มาจาก   (ราคาปิดวันสุดท้ายของปี/ราคาปิดวันแรกของปี - 1 ) *100
# volatility คือความผันผวนราคาหุ้นในปีนั้น มาจาก std ของผลรวมราคาปิดหุ้นรายวัน(yfinance)
# earningPerShare กำไรสุทธิต่อหุ้น (กำไรต่อหุ้น (บาท) set.or)
# currentRatio อัตราส่วนความสามารถในการชำระหนี้ (investing-งบดุล-สินทรัพย์สภาพคล่องรวม/หนี้สินหมุนเวียนรวม) งบดุล
# debtToAssets  หรือ L/A อัตราส่วนหนี้รวมต่อสินทรัพย์รวม  ยิ่งต่ำยิ่งดี เพราะแสดงว่าบริษัทมีปริมาณหนี้สินที่น้อย หรืออาจกล่าวได้ว่า มีความสามารถในการชำระหนี้สูง (investing-งบดุล-สินทรัพย์รวม/หนี้สินรวม) งบดุล
# debtToEquity คือ อัตราส่วนที่บอกว่า บริษัทมีหนี้สินเป็นกี่เท่าของส่วนของผู้ถือหุ้น (investing งบดุล-สินทรัพ/ส่วนผู้ถือหุ้น)
# dividendYeild คือ อัตราส่วนระหว่างเงินปันผลต่อหุ้นและราคาหุ้น วัดออกมาเป็น% เพื่อคำนวณความคุ้มค่าก่อนลงทุน (อัตราส่วนเงินปันผลตอบแทน (%) set.or)
# earningsYield คือ eps(กำไรสุทธิต่อหุ้น) หารด้วย ราคาหุ้นในตอนนั้น (set.or )

#investing
#หน้างบดุล

# set.or
#eps กำไรสุทธิต่อหุ้น
#dividendYeild อัตราส่วนเงินปันผลตอบแทน
#earningsYield = eps/ราคาหุ้นในตอนนั้น

#จัดอันดับจากcluster จากสูตร Sharpe Ratio คือ อัตราส่วนผลตอบแทนส่วนเกินต่อส่วนเบี่ยงเบนมาตรฐาน(ความผันผวน)  มันคุ้มค่าไหมกับที่เสี่ยงไป เลขยิ่งสูงยิ่งดี เลขต่ำคือไม่ดี
#['returnsTopricevol'] = ['returns'] / ['volatility'] 


# สรุปวิธีการคร่าวๆ 
#ในการเตรียม dataset จะมีปี 63 64 65 จะจัดกลุ่มหุ้นปี 63 ไปวิเคราะห์ปี64 แล้วก็จัดกลุ่มหุ้นปี64 ไปวิเคราะห์ปี65 ด้วย AgglomerativeClustering 
#ใช้หุ้นที่ได้รับคัดเลือกจาก cluster แต่ละปีจะนำไปทดสอบใน dataset ของปีถัดไป
#.dot ผลตอบแทนจากหุ้นที่เราคัดมาในปีถัดไปมาคุณscalarกับจำนวนหุ้นในแต่ละคลัสเตอร์ จากนั้นหารด้วยจำนวนหุ้น จะได้ค่าเฉลี่ยถ่วงน้ำหนักของผลตอบแทน
#returns_cluster_18_17 = perform_18_cluster_17['returns'].dot(perform_18_cluster_17['num_of_stocks']) / perform_18_cluster_17['num_of_stocks'].sum()

#คืออัลกอริธึมการจัดกลุ่มแบบลำดับชั้นประเภทหนึ่ง เป็นเทคนิคแมชชีนเลิร์นนิงแบบunsupervisedที่แบ่งประชากรออกเป็นหลายคลัสเตอร์ เพื่อให้จุดข้อมูลในคลัสเตอร์เดียวกันมีความคล้ายคลึงกันมากขึ้น
#จะทดลอง2แบบ แบบแรกจะเลือก3กลุ่มแรก แบบที่สองจะเลือกtop10หุ้นที่มีอัตราส่วนผลตอบแทนต่อความผันผวนสูง(['returns'] / ['volatility'])โดยได้จากการจัดอันดับเฉยๆไม่ได้ใช้clusteringมาช่วย แล้วนำมาทดสอบในปีถัดๆไป

#z-score
#ข้อเสีย 1.การประเมินหุ้นใช้คำนวณจากราคาวันแรกและราคาในวันสุดท้ายของปี ซึ่งความเป็นจริงถ้าเรานำไปประยุกต์ใช้จริงอาจจะหาจังหวะในการเข้าซื้อที่ราคาเหมาะสมกว่านี้ได้
#ปัญหา yfinance 1.ข้อมูลหลายส่วนไม่มีข้อมูลย้อนหลังหรือไม่มีข้อมูลให้เลย
# EV / EBITDA สามารถสูงกว่าผลตอบแทนจากสินทรัพย์ได้เสมอ ดังนั้นเพื่อป้องกันไม่ให้ความแตกต่างของมาตราส่วนดังกล่าวนำไปสู่น้ำหนักที่ไม่มีใครเทียบได้และข้อสรุปที่ไม่น่าเชื่อถือ เราต้องทำให้ข้อมูลเป็นมาตรฐานก่อน

In [4]:
nof = {'num_of_stocks' : [1,6,3] , 'returns':[100.107,14.449,40.518]}
 

tdf = pd.DataFrame(nof)

tdfval = tdf['returns'].dot(tdf['num_of_stocks']) / tdf['num_of_stocks'].sum()
print(tdfval)

30.835500000000003

In [5]:
set50_key = ['ADVANC','AOT','AWC','BANPU','BBL','BDMS','BEM','BGRIM','BH','BLA','BTS','CBG','CPALL',
           'CPF','CPN','CRC','DTAC','EA','EGCO','GLOBAL','GPSC','GULF','HMPRO','INTUCH','IRPC','IVL',
           'JMART','JMT','KBANK','KCE','KTB','KTC','LH','MINT','MTC','OR','PTT','PTTEP','PTTGC','SAWAD'
           'SCB','SCC','SCGP','TIDLOR','TISCO','TOP','TRUE','TTB','TU']

In [6]:
import yfinance as yf
import numpy as np
import pandas as pd
from pandas_datareader import data as pdr
yf.pdr_override()
#aapl_historical = aapl.history(start="2020-06-02", end="2020-06-07", interval="1m")
stock = yf.Ticker('ADVANC.BK')
stock2 = yf.Ticker('KBANK.BK')
df = stock.history(period='2y')
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-15 00:00:00+07:00,189.0,189.0,187.0,187.5,5067300,0.0,0
2022-11-16 00:00:00+07:00,187.0,189.0,187.0,187.5,5616900,0.0,0
2022-11-17 00:00:00+07:00,187.5,187.5,186.0,187.0,5787400,0.0,0
2022-11-18 00:00:00+07:00,188.0,190.0,187.5,190.0,7921400,0.0,0
2022-11-21 00:00:00+07:00,189.5,191.0,188.5,190.5,4997503,0.0,0

In [ ]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30")
data.Close

In [187]:
stock.dividends

Date
2021-02-19 00:00:00+07:00    3.68
2021-08-16 00:00:00+07:00    3.45
2022-02-18 00:00:00+07:00    4.24
2022-08-19 00:00:00+07:00    3.45
Name: Dividends, dtype: float64

In [75]:
#'forwardEps' 
stock.earnings_history

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,ADVANC.BK,Advanced Info Service PCL,"Nov 01, 2023, 5 PMICT",NaN,NaN,NaN
1,ADVANC.BK,Advanced Info Service PCL,"Aug 07, 2023, 4 PMICT",NaN,NaN,NaN
2,ADVANC.BK,Advanced Info Service PCL,"May 08, 2023, 4 PMICT",NaN,NaN,NaN
3,ADVANC.BK,Advanced Info Service PCL,"Feb 06, 2023, 4 PMICT",2.43,NaN,NaN
4,ADVANC.BK,Advanced Info Service PCL,"Nov 04, 2022, 5 PMICT",2.13,2.03,-4.69
5,ADVANC.BK,Advanced Info Service PCL,"Nov 03, 2022, 5 PMICT",2.13,2.03,-4.69
6,ADVANC.BK,Advanced Info Service PCL,"Aug 17, 2022, 5 PMICT",2.27,2.12,-6.61
7,ADVANC.BK,Advanced Info Service PCL,"Aug 09, 2022, 8 AMICT",2.27,2.12,-6.61
8,ADVANC.BK,Advanced Info Service PCL,"Aug 08, 2022, 4 PMICT",2.27,2.12,-6.61

In [76]:
stock.dividends

Date
2021-02-19 00:00:00+07:00    3.68
2021-08-16 00:00:00+07:00    3.45
2022-02-18 00:00:00+07:00    4.24
2022-08-19 00:00:00+07:00    3.45
Name: Dividends, dtype: float64

In [ ]:
stock.info

In [9]:
stock.cashflow

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Investments,-2.999999e+08,-2.468998e+08,-8.056000e+06,-7.880758e+08
Change To Liabilities,7.355781e+08,-9.024916e+08,2.130084e+09,1.898272e+09
Total Cashflows From Investing Activities,-4.535194e+10,-5.469445e+10,-2.678435e+10,-4.387675e+10
Net Borrowings,-2.206707e+10,-7.682170e+09,-1.510981e+10,-7.936396e+08
Total Cash From Financing Activities,-4.696317e+10,-3.212388e+10,-3.928849e+10,-2.683242e+10
Change To Operating Activities,-6.863694e+08,-1.616951e+08,6.447462e+08,-1.065462e+08
Net Income,2.692215e+10,2.743436e+10,3.118957e+10,2.968218e+10
Change In Cash,-5.681479e+09,-1.215859e+09,1.056974e+10,-1.583519e+09
Effect Of Exchange Rate,-4.155650e+05,-2.692110e+07,1.533469e+07,-6.042459e+06
Total Cash From Operating Activities,8.663404e+10,8.562939e+10,7.662724e+10,6.913169e+10
Depreciation,5.158103e+10,5.051359e+10,3.609282e+10,3.296809e+10
Other Cashflows From Investing Activities,1.347020e+08,3.352714e+08,1.960190e+08,1.730936e+08
Dividends Paid,-2.120206e+10,-2.021782e+10,-2.104876e+10,-2.185181e+10
Change To Inventory,2.584988e+08,2.498786e+09,-9.898589e+08,3.071108e+08
Change To Account Receivables,-3.012199e+09,-3.475903e+09,-2.522918e+09,-3.889749e+09
Other Cashflows From Financing Activities,-3.694039e+09,-4.223885e+09,-3.129919e+09,-4.186964e+09
Change To Netincome,9.042365e+09,8.394746e+09,8.946799e+09,7.361337e+09
Capital Expenditures,-2.578608e+10,-2.805651e+10,-2.302901e+10,-2.019779e+10

In [7]:
stock.get_financials()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,32894011689.0,32525841133.0,37401761871.0,35636643874.0
Minority Interest,125770045.0,125383375.0,128070516.0,147540956.0
Net Income,26922145655.0,27434360343.0,31189570687.0,29682178137.0
Selling General Administrative,21845937713.0,24498658961.0,27884915113.0,26472313353.0
Gross Profit,59879696530.0,62041942495.0,68994240425.0,66400158364.0
Ebit,38033758817.0,37543283534.0,41109325312.0,39927845011.0
Operating Income,38033758817.0,37543283534.0,41109325312.0,39927845011.0
Other Operating Expenses,None,None,None,None
Interest Expense,-5541000000.0,-5832000000.0,-4689000000.0,-5051000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,5969548235.0,5088586512.0,6209242358.0,5922538911.0
Total Revenue,181332889764.0,172890265287.0,180893685238.0,169855847157.0
Total Operating Expenses,143299130947.0,135346981753.0,139784359926.0,129928002146.0
Cost Of Revenue,121453193234.0,110848322792.0,111899444813.0,103455688793.0
Total Other Income Expense Net,-5139747128.0,-5017442401.0,-3707563441.0,-4291201137.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,26924463454.0,27437254621.0,31192519513.0,29714104963.0
Net Income Applicable To Common Shares,26922145655.0,27434360343.0,31189570687.0,29682178137.0

In [8]:
stock.balancesheet

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,1.426390e+11,1.173421e+11,1.085424e+11,1.168409e+11
Capital Surplus,2.250630e+10,2.244653e+10,2.238607e+10,2.237228e+10
Total Liab,2.743972e+11,2.744812e+11,2.202750e+11,2.328364e+11
Total Stockholder Equity,8.169875e+10,7.556398e+10,6.926610e+10,5.752104e+10
Minority Interest,1.257700e+08,1.253834e+08,1.280705e+08,1.475410e+08
Other Current Liab,2.017737e+10,2.025782e+10,3.478309e+10,1.360204e+10
Total Assets,3.562217e+11,3.501706e+11,2.896691e+11,2.905050e+11
Common Stock,2.973926e+09,2.973554e+09,2.973179e+09,2.973095e+09
Other Current Assets,2.345092e+09,2.131939e+09,2.193347e+09,2.656159e+09
Retained Earnings,5.710252e+10,5.138243e+10,4.422558e+10,3.250511e+10
Other Liab,6.751301e+10,5.199085e+10,4.584773e+10,6.804232e+10
Good Will,2.881700e+09,2.881700e+09,2.881700e+09,2.881700e+09
Gains Losses Not Affecting Retained Earnings,-8.839854e+08,-1.238529e+09,-3.187255e+08,-3.294392e+08
Other Assets,5.624075e+09,5.610428e+09,4.876416e+09,4.862985e+09
Cash,1.273929e+10,1.842077e+10,1.963663e+10,9.066888e+09
Total Current Liabilities,9.186827e+10,9.381342e+10,1.052553e+11,7.276446e+10
Deferred Long Term Asset Charges,4.235516e+09,4.120355e+09,3.490522e+09,3.210340e+09
Short Long Term Debt,1.413168e+10,1.384837e+10,2.481879e+10,1.114660e+10
Other Stockholder Equity,-8.839854e+08,-1.238529e+09,-3.187255e+08,-3.294392e+08
Property Plant Equipment,1.684178e+11,1.812403e+11,1.255103e+11,1.302120e+11
Total Current Assets,3.556608e+10,4.215540e+10,4.714215e+10,3.490467e+10
Long Term Investments,1.093127e+09,9.406637e+08,7.161543e+08,8.027658e+08
Net Tangible Assets,-6.382193e+10,-4.465977e+10,-4.215799e+10,-6.220155e+10
Net Receivables,1.728440e+10,1.820260e+10,1.866672e+10,1.711864e+10
Long Term Debt,7.441865e+10,8.052644e+10,6.914392e+10,9.195163e+10
Inventory,2.104298e+09,2.372086e+09,4.828456e+09,3.822985e+09
Accounts Payable,2.674500e+10,2.238200e+10,2.203700e+10,1.842200e+10
Short Term Investments,NaN,NaN,NaN,2.226314e+09

In [193]:
stock.dividends

Date
2021-02-19 00:00:00+07:00    3.68
2021-08-16 00:00:00+07:00    3.45
2022-02-18 00:00:00+07:00    4.24
2022-08-19 00:00:00+07:00    3.45
Name: Dividends, dtype: float64

In [11]:
set100_key = ['ADVANC','AOT','AWC','BANPU','BBL','BDMS','BEM','BGRIM','BH','BLA','BTS','CBG','CPALL',
           'CPF','CPN','CRC','DTAC','EA','EGCO','GLOBAL','GPSC','GULF','HMPRO','INTUCH','IRPC','IVL',
           'JMART','JMT','KBANK','KCE','KTB','KTC','LH','MINT','MTC','OR','OSP','PTT','PTTEP','PTTGC','SAWAD',
           'SCB','SCC','SCGP','TIDLOR','TISCO','TOP','TRUE','TTB','TU','ACE','AEONTS','AMATA','AP','BAM','BCP',
           'BCPG','BEC','CENTEL','CHG','CK','CKP','COM7','DOHOME','EPG','ESSO','FORTH','GUNKUL','HANA',
           'KEX','KKP','MAJOR','MEGA','ONEE','ORI','PLANB','PSL','PTG','QH','RATCH','RBF','RCL','SINGER',
           'SPALI','SPRC','STA','STARK','STEC','STGT','SUPER','SYNEX','TASCO','TCAP','THANI','TIPH','TQM',
           'TTA','VGI','WHA','BCH']

# liststock = [yf.Ticker(x+'.BK') for x in set50_key]
liststock = [(x+'.BK') for x in set100_key]

In [12]:
print(len(liststock))

100

In [25]:
import pandas as pd

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,1.426390e+11,1.173421e+11,1.085424e+11,1.168409e+11
Capital Surplus,2.250630e+10,2.244653e+10,2.238607e+10,2.237228e+10
Total Liab,2.743972e+11,2.744812e+11,2.202750e+11,2.328364e+11
Total Stockholder Equity,8.169875e+10,7.556398e+10,6.926610e+10,5.752104e+10
Minority Interest,1.257700e+08,1.253834e+08,1.280705e+08,1.475410e+08
Other Current Liab,2.017737e+10,2.025782e+10,3.478309e+10,1.360204e+10
Total Assets,3.562217e+11,3.501706e+11,2.896691e+11,2.905050e+11
Common Stock,2.973926e+09,2.973554e+09,2.973179e+09,2.973095e+09
Other Current Assets,2.345092e+09,2.131939e+09,2.193347e+09,2.656159e+09
Retained Earnings,5.710252e+10,5.138243e+10,4.422558e+10,3.250511e+10
Other Liab,6.751301e+10,5.199085e+10,4.584773e+10,6.804232e+10
Good Will,2.881700e+09,2.881700e+09,2.881700e+09,2.881700e+09
Gains Losses Not Affecting Retained Earnings,-8.839854e+08,-1.238529e+09,-3.187255e+08,-3.294392e+08
Other Assets,5.624075e+09,5.610428e+09,4.876416e+09,4.862985e+09
Cash,1.273929e+10,1.842077e+10,1.963663e+10,9.066888e+09
Total Current Liabilities,9.186827e+10,9.381342e+10,1.052553e+11,7.276446e+10
Deferred Long Term Asset Charges,4.235516e+09,4.120355e+09,3.490522e+09,3.210340e+09
Short Long Term Debt,1.413168e+10,1.384837e+10,2.481879e+10,1.114660e+10
Other Stockholder Equity,-8.839854e+08,-1.238529e+09,-3.187255e+08,-3.294392e+08
Property Plant Equipment,1.684178e+11,1.812403e+11,1.255103e+11,1.302120e+11
Total Current Assets,3.556608e+10,4.215540e+10,4.714215e+10,3.490467e+10
Long Term Investments,1.093127e+09,9.406637e+08,7.161543e+08,8.027658e+08
Net Tangible Assets,-6.382193e+10,-4.465977e+10,-4.215799e+10,-6.220155e+10
Net Receivables,1.728440e+10,1.820260e+10,1.866672e+10,1.711864e+10
Long Term Debt,7.441865e+10,8.052644e+10,6.914392e+10,9.195163e+10
Inventory,2.104298e+09,2.372086e+09,4.828456e+09,3.822985e+09
Accounts Payable,2.674500e+10,2.238200e+10,2.203700e+10,1.842200e+10
Short Term Investments,NaN,NaN,NaN,2.226314e+09

In [64]:
yf.Ticker('ADVANC.BK').balancesheet

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,1.426390e+11,1.173421e+11,1.085424e+11,1.168409e+11
Capital Surplus,2.250630e+10,2.244653e+10,2.238607e+10,2.237228e+10
Total Liab,2.743972e+11,2.744812e+11,2.202750e+11,2.328364e+11
Total Stockholder Equity,8.169875e+10,7.556398e+10,6.926610e+10,5.752104e+10
Minority Interest,1.257700e+08,1.253834e+08,1.280705e+08,1.475410e+08
Other Current Liab,2.017737e+10,2.025782e+10,3.478309e+10,1.360204e+10
Total Assets,3.562217e+11,3.501706e+11,2.896691e+11,2.905050e+11
Common Stock,2.973926e+09,2.973554e+09,2.973179e+09,2.973095e+09
Other Current Assets,2.345092e+09,2.131939e+09,2.193347e+09,2.656159e+09
Retained Earnings,5.710252e+10,5.138243e+10,4.422558e+10,3.250511e+10
Other Liab,6.751301e+10,5.199085e+10,4.584773e+10,6.804232e+10
Good Will,2.881700e+09,2.881700e+09,2.881700e+09,2.881700e+09
Gains Losses Not Affecting Retained Earnings,-8.839854e+08,-1.238529e+09,-3.187255e+08,-3.294392e+08
Other Assets,5.624075e+09,5.610428e+09,4.876416e+09,4.862985e+09
Cash,1.273929e+10,1.842077e+10,1.963663e+10,9.066888e+09
Total Current Liabilities,9.186827e+10,9.381342e+10,1.052553e+11,7.276446e+10
Deferred Long Term Asset Charges,4.235516e+09,4.120355e+09,3.490522e+09,3.210340e+09
Short Long Term Debt,1.413168e+10,1.384837e+10,2.481879e+10,1.114660e+10
Other Stockholder Equity,-8.839854e+08,-1.238529e+09,-3.187255e+08,-3.294392e+08
Property Plant Equipment,1.684178e+11,1.812403e+11,1.255103e+11,1.302120e+11
Total Current Assets,3.556608e+10,4.215540e+10,4.714215e+10,3.490467e+10
Long Term Investments,1.093127e+09,9.406637e+08,7.161543e+08,8.027658e+08
Net Tangible Assets,-6.382193e+10,-4.465977e+10,-4.215799e+10,-6.220155e+10
Net Receivables,1.728440e+10,1.820260e+10,1.866672e+10,1.711864e+10
Long Term Debt,7.441865e+10,8.052644e+10,6.914392e+10,9.195163e+10
Inventory,2.104298e+09,2.372086e+09,4.828456e+09,3.822985e+09
Accounts Payable,2.674500e+10,2.238200e+10,2.203700e+10,1.842200e+10
Short Term Investments,NaN,NaN,NaN,2.226314e+09

In [54]:
dffinan2019 = pd.DataFrame(index=set100_key,columns=['TotalAssets','TotalCurrentLiabilities','TotalCurrentAssets','TotalLiab','TotalStockholderEquity'])

In [74]:
test_dffinan2019 = pd.read_excel('/content/dffinan2019.xlsx',index_col=0)

In [73]:
dffinan2019

,TotalAssets,TotalCurrentLiabilities,TotalCurrentAssets,TotalLiab,TotalStockholderEquity
ADVANC,289669121728.0,105255299816.0,47142151488.0,220274952106.0,69266099106.0
AOT,NaN,NaN,NaN,NaN,NaN
AWC,136493319649.0,11360686208.0,15937675970.0,45686923799.0,90806395850.0
BANPU,8068983000.0,1559530000.0,1362840000.0,5434068000.0,2028486000.0
BBL,3216743095000.0,2599473315000.0,136512845000.0,2788626786000.0,427751210000.0
...,...,...,...,...,...
TQM,4256958273.0,1815586774.0,3488872381.0,1906696776.0,2350260504.0
TTA,33473051000.0,3907535000.0,12313945000.0,10874489000.0,18187282000.0
VGI,NaN,NaN,NaN,NaN,NaN
WHA,82263830856.0,17837121215.0,17114310534.0,49163249675.0,29477631237.0
BCH,14115628718.0,2185815014.0,2966939884.0,7137354955.0,6247995704.0

In [69]:
dffinan2019.to_excel('dffinan2019.xlsx')

In [67]:
year = '2019-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2019['TotalStockholderEquity'][stockname] = float(getbal.loc['Total Stockholder Equity',year][0])
    print(stockname,'tt_curass = ',dffinan2019['TotalStockholderEquity'][stockname])

    dffinan2019['TotalLiab'][stockname] = float(getbal.loc['Total Liab',year][0])
    print(stockname,'tt_curass = ',dffinan2019['TotalLiab'][stockname])

    dffinan2019['TotalCurrentAssets'][stockname] = float(getbal.loc['Total Current Assets',year][0])
    print(stockname,'tt_curass = ',dffinan2019['TotalCurrentAssets'][stockname])

    dffinan2019['TotalCurrentLiabilities'][stockname] = float(getbal.loc['Total Current Liabilities',year][0])
    print(stockname,'tt_curlia = ',dffinan2019['TotalCurrentLiabilities'][stockname])   
  except:
    pass

ADVANC tt_curass =  69266099106.0
ADVANC tt_curass =  220274952106.0
ADVANC tt_curass =  47142151488.0
ADVANC tt_curlia =  105255299816.0
AWC tt_curass =  90806395850.0
AWC tt_curass =  45686923799.0
AWC tt_curass =  15937675970.0
AWC tt_curlia =  11360686208.0
BANPU tt_curass =  2028486000.0
BANPU tt_curass =  5434068000.0
BANPU tt_curass =  1362840000.0
BANPU tt_curlia =  1559530000.0
BBL tt_curass =  427751210000.0
BBL tt_curass =  2788626786000.0
BBL tt_curass =  136512845000.0
BBL tt_curlia =  2599473315000.0
BDMS tt_curass =  83813432690.0
BDMS tt_curass =  46480113870.0
BDMS tt_curass =  16325185436.0
BDMS tt_curlia =  19263149628.0
BEM tt_curass =  38780719689.0
BEM tt_curass =  72873588637.0
BEM tt_curass =  4447578321.0
BEM tt_curlia =  11428906824.0
BGRIM tt_curass =  28144399324.0
BGRIM tt_curass =  83015543806.0
BGRIM tt_curass =  33493108666.0
BGRIM tt_curlia =  25831745574.0
BH tt_curass =  19972155950.0
BH tt_curass =  5915901101.0
BH tt_curass =  11736441573.0
BH tt_curlia =  2639052335.0
BLA tt_curass =  44225292000.0
BLA tt_curass =  289419624000.0
BLA tt_curass =  19845429000.0
BLA tt_curlia =  4219396000.0
CBG tt_curass =  8565810206.0
CBG tt_curass =  6061672008.0
CBG tt_curass =  3197410847.0
CBG tt_curlia =  3777280831.0
CPALL tt_curass =  93738858640.0
CPALL tt_curass =  267249657760.0
CPALL tt_curass =  71923196424.0
CPALL tt_curlia =  112917155714.0
CPF tt_curass =  168275264000.0
CPF tt_curass =  415178165000.0
CPF tt_curass =  178646055000.0
CPF tt_curlia =  197711110000.0
CPN tt_curass =  72128408081.0
CPN tt_curass =  89470770983.0
CPN tt_curass =  15376885108.0
CPN tt_curlia =  21074977197.0
CRC tt_curass =  24809983867.0
CRC tt_curass =  145986148820.0
CRC tt_curass =  65784583171.0
CRC tt_curlia =  119513271073.0
DTAC tt_curass =  24966412134.0
DTAC tt_curass =  142291736375.0
DTAC tt_curass =  22596440507.0
DTAC tt_curlia =  60148857151.0
EA tt_curass =  23364506881.0
EA tt_curass =  45353234692.0
EA tt_curass =  14032874988.0
EA tt_curlia =  6070177122.0
EGCO tt_curass =  104490411135.0
EGCO tt_curass =  103416197653.0
EGCO tt_curass =  35794263797.0
EGCO tt_curlia =  12478738586.0
GLOBAL tt_curass =  15912138752.0
GLOBAL tt_curass =  19855468830.0
GLOBAL tt_curass =  18179398486.0
GLOBAL tt_curlia =  18823883095.0
GPSC tt_curass =  100893029948.0
GPSC tt_curass =  141840906694.0
GPSC tt_curass =  38919322272.0
GPSC tt_curlia =  36748122669.0
GULF tt_curass =  38427105428.0
GULF tt_curass =  85237598621.0
GULF tt_curass =  21530698110.0
GULF tt_curlia =  9808947212.0
HMPRO tt_curass =  21138077487.0
HMPRO tt_curass =  30910875817.0
HMPRO tt_curass =  15689844279.0
HMPRO tt_curlia =  22289268950.0
INTUCH tt_curass =  34525171029.0
INTUCH tt_curass =  9085504931.0
INTUCH tt_curass =  11913591370.0
INTUCH tt_curlia =  4524314189.0
IRPC tt_curass =  83255729880.0
IRPC tt_curass =  94448278263.0
IRPC tt_curass =  43646915072.0
IRPC tt_curlia =  45706561649.0
IVL tt_curass =  129711924000.0
IVL tt_curass =  242400617000.0
IVL tt_curass =  118756964000.0
IVL tt_curlia =  112990571000.0
JMART tt_curass =  3385469980.0
JMART tt_curass =  15140337863.0
JMART tt_curass =  7271066579.0
JMART tt_curlia =  7458200675.0
JMT tt_curass =  3395578997.0
JMT tt_curass =  6708386966.0
JMT tt_curass =  1924762006.0
JMT tt_curlia =  3654772839.0
KBANK tt_curass =  406357615000.0
KBANK tt_curass =  2840174270000.0
KBANK tt_curass =  533432247000.0
KBANK tt_curlia =  2190147078000.0
KCE tt_curass =  11712331105.0
KCE tt_curass =  4739059749.0
KCE tt_curass =  6719397307.0
KCE tt_curlia =  3651303462.0
KTB tt_curass =  338258971000.0
KTB tt_curass =  2663889734000.0
KTB tt_curass =  292463359000.0
KTB tt_curlia =  2434728320000.0
KTC tt_curass =  19707706415.0
KTC tt_curass =  65674217990.0
KTC tt_curass =  82684314058.0
KTC tt_curlia =  25181443190.0
LH tt_curass =  52463307458.0
LH tt_curass =  59956181159.0
LH tt_curass =  60509829046.0
LH tt_curlia =  22838472070.0
MINT tt_curass =  75461248822.0
MINT tt_curass =  168315922286.0
MINT tt_curass =  38598789972.0
MINT tt_curlia =  35591644208.0
MTC tt_curass =  15971713808.0
MTC tt_curass =  45899888412.0
MTC tt_curass =  59615599316.0
MTC tt_curlia =  16311927855.0
OR tt_curass =  38707833086.0
OR tt_curass =  113468378931.0
OR tt_curass =  87884725384.0
OR tt_curlia =  46876862845.0
OSP tt_curass =  17871305872.0
OSP tt_curass =  6300721484.0
OSP tt_curass =  9338024762.0
OSP tt_curlia =  5255833253.0
PTT tt_curass =  878604109457.0
PTT tt_curass =  1185925345365.0
PTT tt_curass =  717098713299.0
PTT tt_curlia =  379785306883.0
PTTEP tt_curass =  11841173770.0
PTTEP tt_curass =  10444107636.0
PTTEP tt_curass =  4713290162.0
PTTEP tt_curlia =  2050843096.0
PTTGC tt_curass =  285830169633.0
PTTGC tt_curass =  158919041630.0
PTTGC tt_curass =  104494268973.0
PTTGC tt_curlia =  53033137507.0
SAWAD tt_curass =  18388370000.0
SAWAD tt_curass =  25269896000.0
SAWAD tt_curass =  43482098000.0
SAWAD tt_curlia =  13816661000.0
SCB tt_curass =  400357831000.0
SCB tt_curass =  2562899848000.0
SCB tt_curass =  604013224000.0
SCB tt_curlia =  2408433756000.0
SCC tt_curass =  280215414000.0
SCC tt_curass =  306990099000.0
SCC tt_curass =  164385920000.0
SCC tt_curlia =  131505227000.0
SCGP tt_curass =  42952049000.0
SCGP tt_curass =  76697050000.0
SCGP tt_curass =  35383323000.0
SCGP tt_curlia =  54014044000.0
TIDLOR tt_curass =  9137866000.0
TIDLOR tt_curass =  39065241000.0
TIDLOR tt_curass =  46499566000.0
TIDLOR tt_curlia =  19260215000.0
TISCO tt_curass =  39192983000.0
TISCO tt_curass =  258946976000.0
TISCO tt_curass =  47269244000.0
TISCO tt_curlia =  245390001000.0
TOP tt_curass =  119972738009.0
TOP tt_curass =  159521018401.0
TOP tt_curass =  134676289855.0
TOP tt_curlia =  38666699343.0
TRUE tt_curass =  125367941000.0
TRUE tt_curass =  397973603000.0
TRUE tt_curass =  134449395000.0
TRUE tt_curlia =  151150233000.0
TTB tt_curass =  194776870000.0
TTB tt_curass =  1663378794000.0
TTB tt_curass =  283830622000.0
TTB tt_curlia =  1543996270000.0
ACE tt_curass =  10793039619.0
ACE tt_curass =  3352137380.0
ACE tt_curass =  1434613739.0
ACE tt_curlia =  1373212132.0
AMATA tt_curass =  14054507399.0
AMATA tt_curass =  19420946599.0
AMATA tt_curass =  10220720821.0
AMATA tt_curlia =  5179189761.0
AP tt_curass =  26313116258.0
AP tt_curass =  32498087781.0
AP tt_curass =  51470389931.0
AP tt_curlia =  17056648426.0
BAM tt_curass =  41195899000.0
BAM tt_curass =  78723546000.0
BAM tt_curass =  113903420000.0
BAM tt_curlia =  21845687000.0
BCP tt_curass =  51603929397.0
BCP tt_curass =  68972939218.0
BCP tt_curass =  37620856939.0
BCP tt_curlia =  27083057880.0
BCPG tt_curass =  15505719237.0
BCPG tt_curass =  21581424088.0
BCPG tt_curass =  2452876579.0
BCPG tt_curlia =  4987163556.0
BEC tt_curass =  5623332188.0
BEC tt_curass =  5636043919.0
BEC tt_curass =  4695266768.0
BEC tt_curlia =  2004134291.0
CHG tt_curass =  3702472160.0
CHG tt_curass =  2370252033.0
CHG tt_curass =  1764169656.0
CHG tt_curlia =  1682245770.0
CK tt_curass =  27392674689.0
CK tt_curass =  54773072191.0
CK tt_curass =  18953092537.0
CK tt_curlia =  17908751296.0
CKP tt_curass =  23548682845.0
CKP tt_curass =  28644225437.0
CKP tt_curass =  6606235655.0
CKP tt_curlia =  3393751370.0
COM7 tt_curass =  3373791208.0
COM7 tt_curass =  5783517251.0
COM7 tt_curass =  7216779590.0
COM7 tt_curlia =  5629241670.0
DOHOME tt_curass =  6460368837.0
DOHOME tt_curass =  11691343527.0
DOHOME tt_curass =  8203570207.0
DOHOME tt_curlia =  9065723048.0
ESSO tt_curass =  22110496000.0
ESSO tt_curass =  44124699000.0
ESSO tt_curass =  31978198000.0
ESSO tt_curlia =  36675861000.0
FORTH tt_curass =  1506850205.0
FORTH tt_curass =  5170929274.0
FORTH tt_curass =  4076205385.0
FORTH tt_curlia =  4919823342.0
GUNKUL tt_curass =  10712207156.0
GUNKUL tt_curass =  27708625895.0
GUNKUL tt_curass =  7285160677.0
GUNKUL tt_curlia =  8205059331.0
HANA tt_curass =  20545615721.0
HANA tt_curass =  3880566594.0
HANA tt_curass =  17014729006.0
HANA tt_curlia =  3181702368.0
KEX tt_curass =  2233162000.0
KEX tt_curass =  3781045000.0
KEX tt_curass =  2818221000.0
KEX tt_curlia =  2861055000.0
KKP tt_curass =  43902105000.0
KKP tt_curass =  267678747000.0
KKP tt_curass =  37048555000.0
KKP tt_curlia =  244686386000.0
MAJOR tt_curass =  7333646976.0
MAJOR tt_curass =  10387743106.0
MAJOR tt_curass =  2374385007.0
MAJOR tt_curlia =  5247666607.0
MEGA tt_curass =  6174998000.0
MEGA tt_curass =  4357609000.0
MEGA tt_curass =  7229677000.0
MEGA tt_curlia =  4158166000.0
ONEE tt_curass =  1476239287.0
ONEE tt_curass =  2692116245.0
ONEE tt_curass =  1333663625.0
ONEE tt_curlia =  1242774559.0
ORI tt_curass =  9683213690.0
ORI tt_curass =  21145610861.0
ORI tt_curass =  26480809197.0
ORI tt_curlia =  10822203912.0
PLANB tt_curass =  6375364461.0
PLANB tt_curass =  1089477339.0
PLANB tt_curass =  4521499380.0
PLANB tt_curlia =  1017453266.0
PSL tt_curass =  11559014451.0
PSL tt_curass =  13501504580.0
PSL tt_curass =  1680522196.0
PSL tt_curlia =  4712250714.0
PTG tt_curass =  6647521751.0
PTG tt_curass =  15944375882.0
PTG tt_curass =  4850024390.0
PTG tt_curlia =  11614322739.0
QH tt_curass =  26863416914.0
QH tt_curass =  24038497620.0
QH tt_curass =  27506687209.0
QH tt_curlia =  10860320652.0
RATCH tt_curass =  59413272421.0
RATCH tt_curass =  40815503778.0
RATCH tt_curass =  20479768268.0
RATCH tt_curlia =  7574055346.0
RBF tt_curass =  3870265222.0
RBF tt_curass =  542439242.0
RBF tt_curass =  2659173599.0
RBF tt_curlia =  375139911.0
RCL tt_curass =  7400354502.0
RCL tt_curass =  9632216304.0
RCL tt_curass =  3706631332.0
RCL tt_curlia =  5715278363.0
SINGER tt_curass =  2343541012.0
SINGER tt_curass =  3548013416.0
SINGER tt_curass =  3264211683.0
SINGER tt_curlia =  884086668.0
SPALI tt_curass =  37085998551.0
SPALI tt_curass =  22662315171.0
SPALI tt_curass =  55983795161.0
SPALI tt_curlia =  17768459777.0
SPRC tt_curass =  32476031542.0
SPRC tt_curass =  21818049248.0
SPRC tt_curass =  25524039590.0
SPRC tt_curlia =  21334121609.0
STA tt_curass =  24119028479.0
STA tt_curass =  32842480278.0
STA tt_curass =  22542806950.0
STA tt_curlia =  22472398500.0
STARK tt_curass =  2267721287.0
STARK tt_curass =  10341326468.0
STARK tt_curass =  8707067491.0
STARK tt_curlia =  8137506795.0
STEC tt_curass =  14377294399.0
STEC tt_curass =  34559587170.0
STEC tt_curass =  23149283357.0
STEC tt_curlia =  31478917497.0
STGT tt_curass =  4402027485.0
STGT tt_curass =  8814069650.0
STGT tt_curass =  4312307673.0
STGT tt_curlia =  2773010136.0
SYNEX tt_curass =  3212681146.0
SYNEX tt_curass =  8129172251.0
SYNEX tt_curass =  10177431254.0
SYNEX tt_curlia =  8057745166.0
TASCO tt_curass =  13407226942.0
TASCO tt_curass =  11683244494.0
TASCO tt_curass =  15162311698.0
TASCO tt_curlia =  11472507549.0
TCAP tt_curass =  65832837000.0
TCAP tt_curass =  86867809000.0
TCAP tt_curass =  24151756000.0
TCAP tt_curlia =  44514116000.0
THANI tt_curass =  7671018251.0
THANI tt_curass =  43209907134.0
THANI tt_curass =  50407418357.0
THANI tt_curlia =  30059027445.0
TIPH tt_curass =  8357556463.0
TIPH tt_curass =  32542757359.0
TIPH tt_curass =  23915332223.0
TIPH tt_curlia =  31014191325.0
TQM tt_curass =  2350260504.0
TQM tt_curass =  1906696776.0
TQM tt_curass =  3488872381.0
TQM tt_curlia =  1815586774.0
TTA tt_curass =  18187282000.0
TTA tt_curass =  10874489000.0
TTA tt_curass =  12313945000.0
TTA tt_curlia =  3907535000.0
WHA tt_curass =  29477631237.0
WHA tt_curass =  49163249675.0
WHA tt_curass =  17114310534.0
WHA tt_curlia =  17837121215.0
BCH tt_curass =  6247995704.0
BCH tt_curass =  7137354955.0
BCH tt_curass =  2966939884.0
BCH tt_curlia =  2185815014.0

In [83]:
dffinan2020 = pd.DataFrame(index=set100_key,columns=['TotalAssets','TotalCurrentLiabilities','TotalCurrentAssets','TotalLiab','TotalStockholderEquity'])

In [89]:
dffinan2020

,TotalAssets,TotalCurrentLiabilities,TotalCurrentAssets,TotalLiab,TotalStockholderEquity
ACE,16429688248.0,1212730173.0,1841236407.0,4436855142.0,11992833106.0
ADVANC,350170577386.0,93813424234.0,42155398489.0,274481210049.0,75563983962.0
AEONTS,NaN,NaN,NaN,NaN,NaN
AMATA,40221654814.0,3909835436.0,10314911100.0,21469126770.0,15648208141.0
AOT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
TTA,31029233000.0,5482515000.0,12323504000.0,11837814000.0,16153185000.0
TTB,1808331830000.0,1495565393000.0,258645928000.0,1603582105000.0,204712627000.0
TU,NaN,NaN,NaN,NaN,NaN
VGI,NaN,NaN,NaN,NaN,NaN
WHA,82621108360.0,14707177992.0,17361322276.0,50453941872.0,28805186154.0

In [90]:
dffinan2020.to_excel('dffinan2020.xlsx')

In [85]:
year = '2020-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2020['TotalStockholderEquity'][stockname] = float(getbal.loc['Total Stockholder Equity',year][0])
    print(stockname,'TotalStockholderEquity = ',dffinan2019['TotalStockholderEquity'][stockname])

    dffinan2020['TotalLiab'][stockname] = float(getbal.loc['Total Liab',year][0])
    print(stockname,'TotalLiab = ',dffinan2019['TotalLiab'][stockname])

    dffinan2020['TotalCurrentAssets'][stockname] = float(getbal.loc['Total Current Assets',year][0])
    print(stockname,'TotalCurrentAssets = ',dffinan2019['TotalCurrentAssets'][stockname])

    dffinan2020['TotalCurrentLiabilities'][stockname] = float(getbal.loc['Total Current Liabilities',year][0])
    print(stockname,'TotalCurrentLiabilities = ',dffinan2019['TotalCurrentLiabilities'][stockname])   
  except:
    pass

dffinan2020.sort_index(inplace=True)
dffinan2020.to_excel('dffinan2020.xlsx')

ADVANC TotalStockholderEquity =  69266099106.0
ADVANC TotalLiab =  220274952106.0
ADVANC TotalCurrentAssets =  47142151488.0
ADVANC TotalCurrentLiabilities =  105255299816.0
AWC TotalStockholderEquity =  90806395850.0
AWC TotalLiab =  45686923799.0
AWC TotalCurrentAssets =  15937675970.0
AWC TotalCurrentLiabilities =  11360686208.0
BANPU TotalStockholderEquity =  2028486000.0
BANPU TotalLiab =  5434068000.0
BANPU TotalCurrentAssets =  1362840000.0
BANPU TotalCurrentLiabilities =  1559530000.0
BBL TotalStockholderEquity =  427751210000.0
BBL TotalLiab =  2788626786000.0
BBL TotalCurrentAssets =  136512845000.0
BBL TotalCurrentLiabilities =  2599473315000.0
BDMS TotalStockholderEquity =  83813432690.0
BDMS TotalLiab =  46480113870.0
BDMS TotalCurrentAssets =  16325185436.0
BDMS TotalCurrentLiabilities =  19263149628.0
BEM TotalStockholderEquity =  38780719689.0
BEM TotalLiab =  72873588637.0
BEM TotalCurrentAssets =  4447578321.0
BEM TotalCurrentLiabilities =  11428906824.0
BGRIM TotalStockholderEquity =  28144399324.0
BGRIM TotalLiab =  83015543806.0
BGRIM TotalCurrentAssets =  33493108666.0
BGRIM TotalCurrentLiabilities =  25831745574.0
BH TotalStockholderEquity =  19972155950.0
BH TotalLiab =  5915901101.0
BH TotalCurrentAssets =  11736441573.0
BH TotalCurrentLiabilities =  2639052335.0
BLA TotalStockholderEquity =  44225292000.0
BLA TotalLiab =  289419624000.0
BLA TotalCurrentAssets =  19845429000.0
BLA TotalCurrentLiabilities =  4219396000.0
CBG TotalStockholderEquity =  8565810206.0
CBG TotalLiab =  6061672008.0
CBG TotalCurrentAssets =  3197410847.0
CBG TotalCurrentLiabilities =  3777280831.0
CPALL TotalStockholderEquity =  93738858640.0
CPALL TotalLiab =  267249657760.0
CPALL TotalCurrentAssets =  71923196424.0
CPALL TotalCurrentLiabilities =  112917155714.0
CPF TotalStockholderEquity =  168275264000.0
CPF TotalLiab =  415178165000.0
CPF TotalCurrentAssets =  178646055000.0
CPF TotalCurrentLiabilities =  197711110000.0
CPN TotalStockholderEquity =  72128408081.0
CPN TotalLiab =  89470770983.0
CPN TotalCurrentAssets =  15376885108.0
CPN TotalCurrentLiabilities =  21074977197.0
CRC TotalStockholderEquity =  24809983867.0
CRC TotalLiab =  145986148820.0
CRC TotalCurrentAssets =  65784583171.0
CRC TotalCurrentLiabilities =  119513271073.0
DTAC TotalStockholderEquity =  24966412134.0
DTAC TotalLiab =  142291736375.0
DTAC TotalCurrentAssets =  22596440507.0
DTAC TotalCurrentLiabilities =  60148857151.0
EA TotalStockholderEquity =  23364506881.0
EA TotalLiab =  45353234692.0
EA TotalCurrentAssets =  14032874988.0
EA TotalCurrentLiabilities =  6070177122.0
EGCO TotalStockholderEquity =  104490411135.0
EGCO TotalLiab =  103416197653.0
EGCO TotalCurrentAssets =  35794263797.0
EGCO TotalCurrentLiabilities =  12478738586.0
GLOBAL TotalStockholderEquity =  15912138752.0
GLOBAL TotalLiab =  19855468830.0
GLOBAL TotalCurrentAssets =  18179398486.0
GLOBAL TotalCurrentLiabilities =  18823883095.0
GPSC TotalStockholderEquity =  100893029948.0
GPSC TotalLiab =  141840906694.0
GPSC TotalCurrentAssets =  38919322272.0
GPSC TotalCurrentLiabilities =  36748122669.0
GULF TotalStockholderEquity =  38427105428.0
GULF TotalLiab =  85237598621.0
GULF TotalCurrentAssets =  21530698110.0
GULF TotalCurrentLiabilities =  9808947212.0
HMPRO TotalStockholderEquity =  21138077487.0
HMPRO TotalLiab =  30910875817.0
HMPRO TotalCurrentAssets =  15689844279.0
HMPRO TotalCurrentLiabilities =  22289268950.0
INTUCH TotalStockholderEquity =  34525171029.0
INTUCH TotalLiab =  9085504931.0
INTUCH TotalCurrentAssets =  11913591370.0
INTUCH TotalCurrentLiabilities =  4524314189.0
IRPC TotalStockholderEquity =  83255729880.0
IRPC TotalLiab =  94448278263.0
IRPC TotalCurrentAssets =  43646915072.0
IRPC TotalCurrentLiabilities =  45706561649.0
IVL TotalStockholderEquity =  129711924000.0
IVL TotalLiab =  242400617000.0
IVL TotalCurrentAssets =  118756964000.0
IVL TotalCurrentLiabilities =  112990571000.0
JMART TotalStockholderEquity =  3385469980.0
JMART TotalLiab =  15140337863.0
JMART TotalCurrentAssets =  7271066579.0
JMART TotalCurrentLiabilities =  7458200675.0
JMT TotalStockholderEquity =  3395578997.0
JMT TotalLiab =  6708386966.0
JMT TotalCurrentAssets =  1924762006.0
JMT TotalCurrentLiabilities =  3654772839.0
KBANK TotalStockholderEquity =  406357615000.0
KBANK TotalLiab =  2840174270000.0
KBANK TotalCurrentAssets =  533432247000.0
KBANK TotalCurrentLiabilities =  2190147078000.0
KCE TotalStockholderEquity =  11712331105.0
KCE TotalLiab =  4739059749.0
KCE TotalCurrentAssets =  6719397307.0
KCE TotalCurrentLiabilities =  3651303462.0
KTB TotalStockholderEquity =  338258971000.0
KTB TotalLiab =  2663889734000.0
KTB TotalCurrentAssets =  292463359000.0
KTB TotalCurrentLiabilities =  2434728320000.0
KTC TotalStockholderEquity =  19707706415.0
KTC TotalLiab =  65674217990.0
KTC TotalCurrentAssets =  82684314058.0
KTC TotalCurrentLiabilities =  25181443190.0
LH TotalStockholderEquity =  52463307458.0
LH TotalLiab =  59956181159.0
LH TotalCurrentAssets =  60509829046.0
LH TotalCurrentLiabilities =  22838472070.0
MINT TotalStockholderEquity =  75461248822.0
MINT TotalLiab =  168315922286.0
MINT TotalCurrentAssets =  38598789972.0
MINT TotalCurrentLiabilities =  35591644208.0
MTC TotalStockholderEquity =  15971713808.0
MTC TotalLiab =  45899888412.0
MTC TotalCurrentAssets =  59615599316.0
MTC TotalCurrentLiabilities =  16311927855.0
OR TotalStockholderEquity =  38707833086.0
OR TotalLiab =  113468378931.0
OR TotalCurrentAssets =  87884725384.0
OR TotalCurrentLiabilities =  46876862845.0
OSP TotalStockholderEquity =  17871305872.0
OSP TotalLiab =  6300721484.0
OSP TotalCurrentAssets =  9338024762.0
OSP TotalCurrentLiabilities =  5255833253.0
PTT TotalStockholderEquity =  878604109457.0
PTT TotalLiab =  1185925345365.0
PTT TotalCurrentAssets =  717098713299.0
PTT TotalCurrentLiabilities =  379785306883.0
PTTEP TotalStockholderEquity =  11841173770.0
PTTEP TotalLiab =  10444107636.0
PTTEP TotalCurrentAssets =  4713290162.0
PTTEP TotalCurrentLiabilities =  2050843096.0
PTTGC TotalStockholderEquity =  285830169633.0
PTTGC TotalLiab =  158919041630.0
PTTGC TotalCurrentAssets =  104494268973.0
PTTGC TotalCurrentLiabilities =  53033137507.0
SAWAD TotalStockholderEquity =  18388370000.0
SAWAD TotalLiab =  25269896000.0
SAWAD TotalCurrentAssets =  43482098000.0
SAWAD TotalCurrentLiabilities =  13816661000.0
SCB TotalStockholderEquity =  400357831000.0
SCB TotalLiab =  2562899848000.0
SCB TotalCurrentAssets =  604013224000.0
SCB TotalCurrentLiabilities =  2408433756000.0
SCC TotalStockholderEquity =  280215414000.0
SCC TotalLiab =  306990099000.0
SCC TotalCurrentAssets =  164385920000.0
SCC TotalCurrentLiabilities =  131505227000.0
SCGP TotalStockholderEquity =  42952049000.0
SCGP TotalLiab =  76697050000.0
SCGP TotalCurrentAssets =  35383323000.0
SCGP TotalCurrentLiabilities =  54014044000.0
TIDLOR TotalStockholderEquity =  9137866000.0
TIDLOR TotalLiab =  39065241000.0
TIDLOR TotalCurrentAssets =  46499566000.0
TIDLOR TotalCurrentLiabilities =  19260215000.0
TISCO TotalStockholderEquity =  39192983000.0
TISCO TotalLiab =  258946976000.0
TISCO TotalCurrentAssets =  47269244000.0
TISCO TotalCurrentLiabilities =  245390001000.0
TOP TotalStockholderEquity =  119972738009.0
TOP TotalLiab =  159521018401.0
TOP TotalCurrentAssets =  134676289855.0
TOP TotalCurrentLiabilities =  38666699343.0
TRUE TotalStockholderEquity =  125367941000.0
TRUE TotalLiab =  397973603000.0
TRUE TotalCurrentAssets =  134449395000.0
TRUE TotalCurrentLiabilities =  151150233000.0
TTB TotalStockholderEquity =  194776870000.0
TTB TotalLiab =  1663378794000.0
TTB TotalCurrentAssets =  283830622000.0
TTB TotalCurrentLiabilities =  1543996270000.0
ACE TotalStockholderEquity =  10793039619.0
ACE TotalLiab =  3352137380.0
ACE TotalCurrentAssets =  1434613739.0
ACE TotalCurrentLiabilities =  1373212132.0
AMATA TotalStockholderEquity =  14054507399.0
AMATA TotalLiab =  19420946599.0
AMATA TotalCurrentAssets =  10220720821.0
AMATA TotalCurrentLiabilities =  5179189761.0
AP TotalStockholderEquity =  26313116258.0
AP TotalLiab =  32498087781.0
AP TotalCurrentAssets =  51470389931.0
AP TotalCurrentLiabilities =  17056648426.0
BAM TotalStockholderEquity =  41195899000.0
BAM TotalLiab =  78723546000.0
BAM TotalCurrentAssets =  113903420000.0
BAM TotalCurrentLiabilities =  21845687000.0
BCP TotalStockholderEquity =  51603929397.0
BCP TotalLiab =  68972939218.0
BCP TotalCurrentAssets =  37620856939.0
BCP TotalCurrentLiabilities =  27083057880.0
BCPG TotalStockholderEquity =  15505719237.0
BCPG TotalLiab =  21581424088.0
BCPG TotalCurrentAssets =  2452876579.0
BCPG TotalCurrentLiabilities =  4987163556.0
BEC TotalStockholderEquity =  5623332188.0
BEC TotalLiab =  5636043919.0
BEC TotalCurrentAssets =  4695266768.0
BEC TotalCurrentLiabilities =  2004134291.0
CHG TotalStockholderEquity =  3702472160.0
CHG TotalLiab =  2370252033.0
CHG TotalCurrentAssets =  1764169656.0
CHG TotalCurrentLiabilities =  1682245770.0
CK TotalStockholderEquity =  27392674689.0
CK TotalLiab =  54773072191.0
CK TotalCurrentAssets =  18953092537.0
CK TotalCurrentLiabilities =  17908751296.0
CKP TotalStockholderEquity =  23548682845.0
CKP TotalLiab =  28644225437.0
CKP TotalCurrentAssets =  6606235655.0
CKP TotalCurrentLiabilities =  3393751370.0
COM7 TotalStockholderEquity =  3373791208.0
COM7 TotalLiab =  5783517251.0
COM7 TotalCurrentAssets =  7216779590.0
COM7 TotalCurrentLiabilities =  5629241670.0
DOHOME TotalStockholderEquity =  6460368837.0
DOHOME TotalLiab =  11691343527.0
DOHOME TotalCurrentAssets =  8203570207.0
DOHOME TotalCurrentLiabilities =  9065723048.0
ESSO TotalStockholderEquity =  22110496000.0
ESSO TotalLiab =  44124699000.0
ESSO TotalCurrentAssets =  31978198000.0
ESSO TotalCurrentLiabilities =  36675861000.0
FORTH TotalStockholderEquity =  1506850205.0
FORTH TotalLiab =  5170929274.0
FORTH TotalCurrentAssets =  4076205385.0
FORTH TotalCurrentLiabilities =  4919823342.0
GUNKUL TotalStockholderEquity =  10712207156.0
GUNKUL TotalLiab =  27708625895.0
GUNKUL TotalCurrentAssets =  7285160677.0
GUNKUL TotalCurrentLiabilities =  8205059331.0
HANA TotalStockholderEquity =  20545615721.0
HANA TotalLiab =  3880566594.0
HANA TotalCurrentAssets =  17014729006.0
HANA TotalCurrentLiabilities =  3181702368.0
KEX TotalStockholderEquity =  2233162000.0
KEX TotalLiab =  3781045000.0
KEX TotalCurrentAssets =  2818221000.0
KEX TotalCurrentLiabilities =  2861055000.0
KKP TotalStockholderEquity =  43902105000.0
KKP TotalLiab =  267678747000.0
KKP TotalCurrentAssets =  37048555000.0
KKP TotalCurrentLiabilities =  244686386000.0
MAJOR TotalStockholderEquity =  7333646976.0
MAJOR TotalLiab =  10387743106.0
MAJOR TotalCurrentAssets =  2374385007.0
MAJOR TotalCurrentLiabilities =  5247666607.0
MEGA TotalStockholderEquity =  6174998000.0
MEGA TotalLiab =  4357609000.0
MEGA TotalCurrentAssets =  7229677000.0
MEGA TotalCurrentLiabilities =  4158166000.0
ONEE TotalStockholderEquity =  1476239287.0
ONEE TotalLiab =  2692116245.0
ONEE TotalCurrentAssets =  1333663625.0
ONEE TotalCurrentLiabilities =  1242774559.0
ORI TotalStockholderEquity =  9683213690.0
ORI TotalLiab =  21145610861.0
ORI TotalCurrentAssets =  26480809197.0
ORI TotalCurrentLiabilities =  10822203912.0
PLANB TotalStockholderEquity =  6375364461.0
PLANB TotalLiab =  1089477339.0
PLANB TotalCurrentAssets =  4521499380.0
PLANB TotalCurrentLiabilities =  1017453266.0
PSL TotalStockholderEquity =  11559014451.0
PSL TotalLiab =  13501504580.0
PSL TotalCurrentAssets =  1680522196.0
PSL TotalCurrentLiabilities =  4712250714.0
PTG TotalStockholderEquity =  6647521751.0
PTG TotalLiab =  15944375882.0
PTG TotalCurrentAssets =  4850024390.0
PTG TotalCurrentLiabilities =  11614322739.0
QH TotalStockholderEquity =  26863416914.0
QH TotalLiab =  24038497620.0
QH TotalCurrentAssets =  27506687209.0
QH TotalCurrentLiabilities =  10860320652.0
RATCH TotalStockholderEquity =  59413272421.0
RATCH TotalLiab =  40815503778.0
RATCH TotalCurrentAssets =  20479768268.0
RATCH TotalCurrentLiabilities =  7574055346.0
RBF TotalStockholderEquity =  3870265222.0
RBF TotalLiab =  542439242.0
RBF TotalCurrentAssets =  2659173599.0
RBF TotalCurrentLiabilities =  375139911.0
RCL TotalStockholderEquity =  7400354502.0
RCL TotalLiab =  9632216304.0
RCL TotalCurrentAssets =  3706631332.0
RCL TotalCurrentLiabilities =  5715278363.0
SINGER TotalStockholderEquity =  2343541012.0
SINGER TotalLiab =  3548013416.0
SINGER TotalCurrentAssets =  3264211683.0
SINGER TotalCurrentLiabilities =  884086668.0
SPALI TotalStockholderEquity =  37085998551.0
SPALI TotalLiab =  22662315171.0
SPALI TotalCurrentAssets =  55983795161.0
SPALI TotalCurrentLiabilities =  17768459777.0
SPRC TotalStockholderEquity =  32476031542.0
SPRC TotalLiab =  21818049248.0
SPRC TotalCurrentAssets =  25524039590.0
SPRC TotalCurrentLiabilities =  21334121609.0
STA TotalStockholderEquity =  24119028479.0
STA TotalLiab =  32842480278.0
STA TotalCurrentAssets =  22542806950.0
STA TotalCurrentLiabilities =  22472398500.0
STARK TotalStockholderEquity =  2267721287.0
STARK TotalLiab =  10341326468.0
STARK TotalCurrentAssets =  8707067491.0
STARK TotalCurrentLiabilities =  8137506795.0
STEC TotalStockholderEquity =  14377294399.0
STEC TotalLiab =  34559587170.0
STEC TotalCurrentAssets =  23149283357.0
STEC TotalCurrentLiabilities =  31478917497.0
STGT TotalStockholderEquity =  4402027485.0
STGT TotalLiab =  8814069650.0
STGT TotalCurrentAssets =  4312307673.0
STGT TotalCurrentLiabilities =  2773010136.0
SYNEX TotalStockholderEquity =  3212681146.0
SYNEX TotalLiab =  8129172251.0
SYNEX TotalCurrentAssets =  10177431254.0
SYNEX TotalCurrentLiabilities =  8057745166.0
TASCO TotalStockholderEquity =  13407226942.0
TASCO TotalLiab =  11683244494.0
TASCO TotalCurrentAssets =  15162311698.0
TASCO TotalCurrentLiabilities =  11472507549.0
TCAP TotalStockholderEquity =  65832837000.0
TCAP TotalLiab =  86867809000.0
TCAP TotalCurrentAssets =  24151756000.0
TCAP TotalCurrentLiabilities =  44514116000.0
THANI TotalStockholderEquity =  7671018251.0
THANI TotalLiab =  43209907134.0
THANI TotalCurrentAssets =  50407418357.0
THANI TotalCurrentLiabilities =  30059027445.0
TIPH TotalStockholderEquity =  8357556463.0
TIPH TotalLiab =  32542757359.0
TIPH TotalCurrentAssets =  23915332223.0
TIPH TotalCurrentLiabilities =  31014191325.0
TQM TotalStockholderEquity =  2350260504.0
TQM TotalLiab =  1906696776.0
TQM TotalCurrentAssets =  3488872381.0
TQM TotalCurrentLiabilities =  1815586774.0
TTA TotalStockholderEquity =  18187282000.0
TTA TotalLiab =  10874489000.0
TTA TotalCurrentAssets =  12313945000.0
TTA TotalCurrentLiabilities =  3907535000.0
WHA TotalStockholderEquity =  29477631237.0
WHA TotalLiab =  49163249675.0
WHA TotalCurrentAssets =  17114310534.0
WHA TotalCurrentLiabilities =  17837121215.0
BCH TotalStockholderEquity =  6247995704.0
BCH TotalLiab =  7137354955.0
BCH TotalCurrentAssets =  2966939884.0
BCH TotalCurrentLiabilities =  2185815014.0

In [91]:
dffinan2021 = pd.DataFrame(index=set100_key,columns=['TotalAssets','TotalCurrentLiabilities','TotalCurrentAssets','TotalLiab','TotalStockholderEquity'])

In [92]:
year = '2021-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2021['TotalAssets'][stockname] = float(getbal.loc['Total Assets',year][0])
    print(stockname,'tt_asset = ',dffinan2021['TotalAssets'][stockname])

    dffinan2021['TotalStockholderEquity'][stockname] = float(getbal.loc['Total Stockholder Equity',year][0])
    print(stockname,'TotalStockholderEquity = ',dffinan2021['TotalStockholderEquity'][stockname])

    dffinan2021['TotalLiab'][stockname] = float(getbal.loc['Total Liab',year][0])
    print(stockname,'TotalLiab = ',dffinan2021['TotalLiab'][stockname])

    dffinan2021['TotalCurrentAssets'][stockname] = float(getbal.loc['Total Current Assets',year][0])
    print(stockname,'TotalCurrentAssets = ',dffinan2021['TotalCurrentAssets'][stockname])

    dffinan2021['TotalCurrentLiabilities'][stockname] = float(getbal.loc['Total Current Liabilities',year][0])
    print(stockname,'TotalCurrentLiabilities = ',dffinan2021['TotalCurrentLiabilities'][stockname])   
  except:
    pass

dffinan2021.sort_index(inplace=True)
dffinan2021.to_excel('dffinan2021.xlsx')

ADVANC tt_asset =  356221742939.0
ADVANC TotalStockholderEquity =  81698752332.0
ADVANC TotalLiab =  274397220562.0
ADVANC TotalCurrentAssets =  35566080608.0
ADVANC TotalCurrentLiabilities =  91868271839.0
AWC tt_asset =  138897289081.0
AWC TotalStockholderEquity =  79206620606.0
AWC TotalLiab =  59690668475.0
AWC TotalCurrentAssets =  905096152.0
AWC TotalCurrentLiabilities =  5667147579.0
BANPU tt_asset =  10945557000.0
BANPU TotalStockholderEquity =  2372157000.0
BANPU TotalLiab =  7842701000.0
BANPU TotalCurrentAssets =  2556459000.0
BANPU TotalCurrentLiabilities =  2908185000.0
BBL tt_asset =  4333280908000.0
BBL TotalStockholderEquity =  492727066000.0
BBL TotalLiab =  3838688351000.0
BBL TotalCurrentAssets =  135000007000.0
BBL TotalCurrentLiabilities =  3535224850000.0
BDMS tt_asset =  128453618430.0
BDMS TotalStockholderEquity =  83845192884.0
BDMS TotalLiab =  40688686254.0
BDMS TotalCurrentAssets =  24401394613.0
BDMS TotalCurrentLiabilities =  15861996067.0
BEM tt_asset =  115088499436.0
BEM TotalStockholderEquity =  37697282062.0
BEM TotalLiab =  77389667037.0
BEM TotalCurrentAssets =  4540640505.0
BEM TotalCurrentLiabilities =  10645478064.0
BGRIM tt_asset =  149197561884.0
BGRIM TotalStockholderEquity =  29471157078.0
BGRIM TotalLiab =  108382050232.0
BGRIM TotalCurrentAssets =  41058384672.0
BGRIM TotalCurrentLiabilities =  12723615921.0
BH tt_asset =  20856804710.0
BH TotalStockholderEquity =  17284935774.0
BH TotalLiab =  3238867367.0
BH TotalCurrentAssets =  8061977186.0
BH TotalCurrentLiabilities =  2284215454.0
BLA tt_asset =  347142830000.0
BLA TotalStockholderEquity =  47965882000.0
BLA TotalLiab =  299176688000.0
BLA TotalCurrentAssets =  13182611000.0
BLA TotalCurrentLiabilities =  5376225000.0
CBG tt_asset =  19185647665.0
CBG TotalStockholderEquity =  10209285439.0
CBG TotalLiab =  9074863219.0
CBG TotalCurrentAssets =  5381617909.0
CBG TotalCurrentLiabilities =  5427289782.0
CPALL tt_asset =  931892564418.0
CPALL TotalStockholderEquity =  104134126675.0
CPALL TotalLiab =  639085337361.0
CPALL TotalCurrentAssets =  165773112650.0
CPALL TotalCurrentLiabilities =  214888063249.0
CPF tt_asset =  842680620000.0
CPF TotalStockholderEquity =  215066990000.0
CPF TotalLiab =  555543766000.0
CPF TotalCurrentAssets =  216550231000.0
CPF TotalCurrentLiabilities =  203927974000.0
CPN tt_asset =  263420842546.0
CPN TotalStockholderEquity =  73102181904.0
CPN TotalLiab =  181345648576.0
CPN TotalCurrentAssets =  20587932890.0
CPN TotalCurrentLiabilities =  43492187442.0
CRC tt_asset =  263227819950.0
CRC TotalStockholderEquity =  56388471436.0
CRC TotalLiab =  204146574693.0
CRC TotalCurrentAssets =  69917914169.0
CRC TotalCurrentLiabilities =  111661792123.0
DTAC tt_asset =  164314654144.0
DTAC TotalStockholderEquity =  20167481642.0
DTAC TotalLiab =  144147172502.0
DTAC TotalCurrentAssets =  19727170747.0
DTAC TotalCurrentLiabilities =  47096099541.0
EA tt_asset =  85476250132.0
EA TotalStockholderEquity =  32501021327.0
EA TotalLiab =  50374529427.0
EA TotalCurrentAssets =  11649587491.0
EA TotalCurrentLiabilities =  12675969231.0
EGCO tt_asset =  241932000000.0
EGCO TotalStockholderEquity =  113440866000.0
EGCO TotalLiab =  127895314000.0
EGCO TotalCurrentAssets =  38495497000.0
EGCO TotalCurrentLiabilities =  27019173000.0
GLOBAL tt_asset =  39274603044.0
GLOBAL TotalStockholderEquity =  19560847865.0
GLOBAL TotalLiab =  19438549629.0
GLOBAL TotalCurrentAssets =  18631461958.0
GLOBAL TotalCurrentLiabilities =  16011100988.0
GPSC tt_asset =  270379122273.0
GPSC TotalStockholderEquity =  108334279958.0
GPSC TotalLiab =  152631581457.0
GPSC TotalCurrentAssets =  45490100257.0
GPSC TotalCurrentLiabilities =  23036140511.0
GULF tt_asset =  362673849247.0
GULF TotalStockholderEquity =  96595946273.0
GULF TotalLiab =  255164713319.0
GULF TotalCurrentAssets =  38811161169.0
GULF TotalCurrentLiabilities =  35016233017.0
HMPRO tt_asset =  58586346956.0
HMPRO TotalStockholderEquity =  22890429757.0
HMPRO TotalLiab =  35695914170.0
HMPRO TotalCurrentAssets =  18920210221.0
HMPRO TotalCurrentLiabilities =  20510683543.0
INTUCH tt_asset =  53983596869.0
INTUCH TotalStockholderEquity =  40686763625.0
INTUCH TotalLiab =  7282721574.0
INTUCH TotalCurrentAssets =  11655100350.0
INTUCH TotalCurrentLiabilities =  4441003898.0
IRPC tt_asset =  190491857043.0
IRPC TotalStockholderEquity =  87495581769.0
IRPC TotalLiab =  102779570740.0
IRPC TotalCurrentAssets =  67200192743.0
IRPC TotalCurrentLiabilities =  47542623007.0
IVL tt_asset =  541828240000.0
IVL TotalStockholderEquity =  158768672000.0
IVL TotalLiab =  370824812000.0
IVL TotalCurrentAssets =  176859110000.0
IVL TotalCurrentLiabilities =  161120733000.0
JMART tt_asset =  45278281523.0
JMART TotalStockholderEquity =  17264497917.0
JMART TotalLiab =  18455655757.0
JMART TotalCurrentAssets =  17973947013.0
JMART TotalCurrentLiabilities =  8089153257.0
JMT tt_asset =  28036228035.0
JMT TotalStockholderEquity =  19032128627.0
JMT TotalLiab =  8958574347.0
JMT TotalCurrentAssets =  11085037093.0
JMT TotalCurrentLiabilities =  3930950819.0
KBANK tt_asset =  4103398520000.0
KBANK TotalStockholderEquity =  476713710000.0
KBANK TotalLiab =  3566723500000.0
KBANK TotalCurrentAssets =  598294499000.0
KBANK TotalCurrentLiabilities =  2823310262000.0
KCE tt_asset =  21950728873.0
KCE TotalStockholderEquity =  13380406776.0
KCE TotalLiab =  8508639021.0
KCE TotalCurrentAssets =  11793998239.0
KCE TotalCurrentLiabilities =  6947781038.0
KTB tt_asset =  3556744441000.0
KTB TotalStockholderEquity =  360024567000.0
KTB TotalLiab =  3182633001000.0
KTB TotalCurrentAssets =  198447709000.0
KTB TotalCurrentLiabilities =  2961935209000.0
KTC tt_asset =  89471089652.0
KTC TotalStockholderEquity =  26836357077.0
KTC TotalLiab =  62386689155.0
KTC TotalCurrentAssets =  85741363225.0
KTC TotalCurrentLiabilities =  25933638268.0
LH tt_asset =  125198058459.0
LH TotalStockholderEquity =  49946813536.0
LH TotalLiab =  74551762454.0
LH TotalCurrentAssets =  60464176834.0
LH TotalCurrentLiabilities =  28122346192.0
MINT tt_asset =  369632889568.0
MINT TotalStockholderEquity =  68022673331.0
MINT TotalLiab =  290140459102.0
MINT TotalCurrentAssets =  48826737467.0
MINT TotalCurrentLiabilities =  58058264817.0
MTC tt_asset =  98389837412.0
MTC TotalStockholderEquity =  24868500555.0
MTC TotalLiab =  73521336857.0
MTC TotalCurrentAssets =  91683861658.0
MTC TotalCurrentLiabilities =  31701820065.0
OR tt_asset =  207658879918.0
OR TotalStockholderEquity =  99817777569.0
OR TotalLiab =  107786682529.0
OR TotalCurrentAssets =  126066412889.0
OR TotalCurrentLiabilities =  51729846702.0
OSP tt_asset =  27141607178.0
OSP TotalStockholderEquity =  19884374100.0
OSP TotalLiab =  7237810993.0
OSP TotalCurrentAssets =  8827133163.0
OSP TotalCurrentLiabilities =  5529573985.0
PTT tt_asset =  3078018833338.0
PTT TotalStockholderEquity =  1006696222041.0
PTT TotalLiab =  1605079111344.0
PTT TotalCurrentAssets =  853405878369.0
PTT TotalCurrentLiabilities =  493654241041.0
PTTEP tt_asset =  23445187000.0
PTTEP TotalStockholderEquity =  12428219000.0
PTTEP TotalLiab =  11016968000.0
PTTEP TotalCurrentAssets =  4176668000.0
PTTEP TotalCurrentLiabilities =  3126948000.0
PTTGC tt_asset =  754115494670.0
PTTGC TotalStockholderEquity =  318241837486.0
PTTGC TotalLiab =  426512328025.0
PTTGC TotalCurrentAssets =  207244287806.0
PTTGC TotalCurrentLiabilities =  147006827735.0
SAWAD tt_asset =  49966865000.0
SAWAD TotalStockholderEquity =  24697861000.0
SAWAD TotalLiab =  22991535000.0
SAWAD TotalCurrentAssets =  44028322000.0
SAWAD TotalCurrentLiabilities =  13251995000.0
SCB tt_asset =  3314564893000.0
SCB TotalStockholderEquity =  441006181000.0
SCB TotalLiab =  2871949982000.0
SCB TotalCurrentAssets =  779477445000.0
SCB TotalCurrentLiabilities =  2721493672000.0
SCC tt_asset =  861101027000.0
SCC TotalStockholderEquity =  365690734000.0
SCC TotalLiab =  411092680000.0
SCC TotalCurrentAssets =  233015951000.0
SCC TotalCurrentLiabilities =  168386191000.0
SCGP tt_asset =  206823741000.0
SCGP TotalStockholderEquity =  96837200000.0
SCGP TotalLiab =  84523797000.0
SCGP TotalCurrentAssets =  69186230000.0
SCGP TotalCurrentLiabilities =  51976579000.0
TIDLOR tt_asset =  66525399000.0
TIDLOR TotalStockholderEquity =  22404956000.0
TIDLOR TotalLiab =  44120443000.0
TIDLOR TotalCurrentAssets =  63786817000.0
TIDLOR TotalCurrentLiabilities =  22503291000.0
TISCO tt_asset =  243621934000.0
TISCO TotalStockholderEquity =  41197090000.0
TISCO TotalLiab =  202421551000.0
TISCO TotalCurrentAssets =  35401588000.0
TISCO TotalCurrentLiabilities =  187033570000.0
TOP tt_asset =  362144119452.0
TOP TotalStockholderEquity =  120880744178.0
TOP TotalLiab =  239050039303.0
TOP TotalCurrentAssets =  101238893005.0
TOP TotalCurrentLiabilities =  38476128160.0
TRUE tt_asset =  624914580000.0
TRUE TotalStockholderEquity =  81361919000.0
TRUE TotalLiab =  543096534000.0
TRUE TotalCurrentAssets =  100130416000.0
TRUE TotalCurrentLiabilities =  173947706000.0
TTB tt_asset =  1759180734000.0
TTB TotalStockholderEquity =  210834555000.0
TTB TotalLiab =  1548345039000.0
TTB TotalCurrentAssets =  197792952000.0
TTB TotalCurrentLiabilities =  1448779401000.0
ACE tt_asset =  18740200511.0
ACE TotalStockholderEquity =  13315330526.0
ACE TotalLiab =  5371622899.0
ACE TotalCurrentAssets =  2671920110.0
ACE TotalCurrentLiabilities =  1327195065.0
AMATA tt_asset =  45470855090.0
AMATA TotalStockholderEquity =  17723263521.0
AMATA TotalLiab =  23462422059.0
AMATA TotalCurrentAssets =  12443541130.0
AMATA TotalCurrentLiabilities =  8304171103.0
AP tt_asset =  60408949547.0
AP TotalStockholderEquity =  32441681575.0
AP TotalLiab =  27985538085.0
AP TotalCurrentAssets =  50952635606.0
AP TotalCurrentLiabilities =  12439245141.0
BAM tt_asset =  125904001000.0
BAM TotalStockholderEquity =  42755592000.0
BAM TotalLiab =  83148409000.0
BAM TotalCurrentAssets =  118612874000.0
BAM TotalCurrentLiabilities =  18920722000.0
BCP tt_asset =  201785305244.0
BCP TotalStockholderEquity =  53467104932.0
BCP TotalLiab =  132225982965.0
BCP TotalCurrentAssets =  69372169379.0
BCP TotalCurrentLiabilities =  34105371101.0
BCPG tt_asset =  58721232738.0
BCPG TotalStockholderEquity =  27159664978.0
BCPG TotalLiab =  31493059517.0
BCPG TotalCurrentAssets =  13932947935.0
BCPG TotalCurrentLiabilities =  4678017826.0
BEC tt_asset =  10323295429.0
BEC TotalStockholderEquity =  6193005390.0
BEC TotalLiab =  4130268208.0
BEC TotalCurrentAssets =  5707822502.0
BEC TotalCurrentLiabilities =  3834802196.0
CHG tt_asset =  10549687249.0
CHG TotalStockholderEquity =  7568939684.0
CHG TotalLiab =  2708723153.0
CHG TotalCurrentAssets =  5897182617.0
CHG TotalCurrentLiabilities =  2208299082.0
CK tt_asset =  83420942840.0
CK TotalStockholderEquity =  25668903590.0
CK TotalLiab =  57312981114.0
CK TotalCurrentAssets =  20069275643.0
CK TotalCurrentLiabilities =  17748288373.0
CKP tt_asset =  68977346991.0
CKP TotalStockholderEquity =  24833755724.0
CKP TotalLiab =  32847280939.0
CKP TotalCurrentAssets =  9711840729.0
CKP TotalCurrentLiabilities =  3393984515.0
COM7 tt_asset =  15965739472.0
COM7 TotalStockholderEquity =  5284862485.0
COM7 TotalLiab =  10664989117.0
COM7 TotalCurrentAssets =  11886157899.0
COM7 TotalCurrentLiabilities =  9751035344.0
DOHOME tt_asset =  27226510346.0
DOHOME TotalStockholderEquity =  10879743772.0
DOHOME TotalLiab =  16346766274.0
DOHOME TotalCurrentAssets =  13973573128.0
DOHOME TotalCurrentLiabilities =  13325296279.0
ESSO tt_asset =  70054603000.0
ESSO TotalStockholderEquity =  19200904000.0
ESSO TotalLiab =  50846265000.0
ESSO TotalCurrentAssets =  33784253000.0
ESSO TotalCurrentLiabilities =  42007747000.0
FORTH tt_asset =  8817615378.0
FORTH TotalStockholderEquity =  1702830178.0
FORTH TotalLiab =  6198904219.0
FORTH TotalCurrentAssets =  5807676511.0
FORTH TotalCurrentLiabilities =  5708059764.0
GUNKUL tt_asset =  42485354234.0
GUNKUL TotalStockholderEquity =  13121608933.0
GUNKUL TotalLiab =  29202132211.0
GUNKUL TotalCurrentAssets =  7566815766.0
GUNKUL TotalCurrentLiabilities =  9053596601.0
HANA tt_asset =  27852966522.0
HANA TotalStockholderEquity =  23058093422.0
HANA TotalLiab =  4794873100.0
HANA TotalCurrentAssets =  17569835031.0
HANA TotalCurrentLiabilities =  4028978022.0
KEX tt_asset =  17045554000.0
KEX TotalStockholderEquity =  9298911000.0
KEX TotalLiab =  7728662000.0
KEX TotalCurrentAssets =  7125432000.0
KEX TotalCurrentLiabilities =  5277859000.0
KKP tt_asset =  436123201000.0
KKP TotalStockholderEquity =  51046101000.0
KKP TotalLiab =  384961046000.0
KKP TotalCurrentAssets =  63120482000.0
KKP TotalCurrentLiabilities =  361391310000.0
MAJOR tt_asset =  16519465555.0
MAJOR TotalStockholderEquity =  7169915190.0
MAJOR TotalLiab =  9232652096.0
MAJOR TotalCurrentAssets =  6159572029.0
MAJOR TotalCurrentLiabilities =  5106780488.0
MEGA tt_asset =  13271700000.0
MEGA TotalStockholderEquity =  8002820000.0
MEGA TotalLiab =  5246579000.0
MEGA TotalCurrentAssets =  9300879000.0
MEGA TotalCurrentLiabilities =  4853355000.0
ONEE tt_asset =  9305452725.0
ONEE TotalStockholderEquity =  6845344145.0
ONEE TotalLiab =  2459946479.0
ONEE TotalCurrentAssets =  4294331597.0
ONEE TotalCurrentLiabilities =  2037430892.0
ORI tt_asset =  35398442917.0
ORI TotalStockholderEquity =  14940004326.0
ORI TotalLiab =  19458443282.0
ORI TotalCurrentAssets =  28056347723.0
ORI TotalCurrentLiabilities =  11811141774.0
PLANB tt_asset =  13764431034.0
PLANB TotalStockholderEquity =  7052775057.0
PLANB TotalLiab =  6404231598.0
PLANB TotalCurrentAssets =  4030465674.0
PLANB TotalCurrentLiabilities =  3741841721.0
PSL tt_asset =  23530501252.0
PSL TotalStockholderEquity =  14364979270.0
PSL TotalLiab =  9165485384.0
PSL TotalCurrentAssets =  2809508840.0
PSL TotalCurrentLiabilities =  1916596549.0
PTG tt_asset =  44384199873.0
PTG TotalStockholderEquity =  8095127848.0
PTG TotalLiab =  36184364626.0
PTG TotalCurrentAssets =  4858952956.0
PTG TotalCurrentLiabilities =  12449731014.0
QH tt_asset =  46235691671.0
QH TotalStockholderEquity =  26985164659.0
QH TotalLiab =  19250527012.0
QH TotalCurrentAssets =  23364473810.0
QH TotalCurrentLiabilities =  11322007482.0
RATCH tt_asset =  154855305747.0
RATCH TotalStockholderEquity =  70289709313.0
RATCH TotalLiab =  77045764500.0
RATCH TotalCurrentAssets =  25315772164.0
RATCH TotalCurrentLiabilities =  20269888240.0
RBF tt_asset =  5005521700.0
RBF TotalStockholderEquity =  4224228578.0
RBF TotalLiab =  768967759.0
RBF TotalCurrentAssets =  3038741689.0
RBF TotalCurrentLiabilities =  552196386.0
RCL tt_asset =  38713283134.0
RCL TotalStockholderEquity =  25905661625.0
RCL TotalLiab =  12800221098.0
RCL TotalCurrentAssets =  15562911923.0
RCL TotalCurrentLiabilities =  9308299023.0
SINGER tt_asset =  24200987174.0
SINGER TotalStockholderEquity =  14838595245.0
SINGER TotalLiab =  9362391929.0
SINGER TotalCurrentAssets =  17075430633.0
SINGER TotalCurrentLiabilities =  2649996508.0
SPALI tt_asset =  71432238865.0
SPALI TotalStockholderEquity =  42069569691.0
SPALI TotalLiab =  28505907539.0
SPALI TotalCurrentAssets =  65187761216.0
SPALI TotalCurrentLiabilities =  23816769985.0
SPRC tt_asset =  58725887305.0
SPRC TotalStockholderEquity =  34370726612.0
SPRC TotalLiab =  24355160693.0
SPRC TotalCurrentAssets =  32730871210.0
SPRC TotalCurrentLiabilities =  20030825122.0
STA tt_asset =  114527089908.0
STA TotalStockholderEquity =  46652131261.0
STA TotalLiab =  49478501652.0
STA TotalCurrentAssets =  67786567629.0
STA TotalCurrentLiabilities =  30810147365.0
STARK tt_asset =  39142107172.0
STARK TotalStockholderEquity =  6504613972.0
STARK TotalLiab =  32550852952.0
STARK TotalCurrentAssets =  27961637160.0
STARK TotalCurrentLiabilities =  23548241698.0
STEC tt_asset =  46622053100.0
STEC TotalStockholderEquity =  17078754165.0
STEC TotalLiab =  29255366627.0
STEC TotalCurrentAssets =  20083893970.0
STEC TotalCurrentLiabilities =  26191394097.0
STGT tt_asset =  51302824094.0
STGT TotalStockholderEquity =  38213119221.0
STGT TotalLiab =  13089704873.0
STGT TotalCurrentAssets =  29545707619.0
STGT TotalCurrentLiabilities =  5646437872.0
SYNEX tt_asset =  11286833250.0
SYNEX TotalStockholderEquity =  3924651728.0
SYNEX TotalLiab =  7345842488.0
SYNEX TotalCurrentAssets =  9977474665.0
SYNEX TotalCurrentLiabilities =  7256272134.0
TASCO tt_asset =  24800902026.0
TASCO TotalStockholderEquity =  15367952999.0
TASCO TotalLiab =  8863619770.0
TASCO TotalCurrentAssets =  14329977413.0
TASCO TotalCurrentLiabilities =  7900088143.0
TCAP tt_asset =  142734588000.0
TCAP TotalStockholderEquity =  65113847000.0
TCAP TotalLiab =  68593546000.0
TCAP TotalCurrentAssets =  15831436000.0
TCAP TotalCurrentLiabilities =  27265747000.0
THANI tt_asset =  49223455329.0
THANI TotalStockholderEquity =  11566557023.0
THANI TotalLiab =  37656887226.0
THANI TotalCurrentAssets =  48667465668.0
THANI TotalCurrentLiabilities =  18778148349.0
TIPH tt_asset =  49639415556.0
TIPH TotalStockholderEquity =  9582632523.0
TIPH TotalLiab =  39964447471.0
TIPH TotalCurrentAssets =  31308137327.0
TIPH TotalCurrentLiabilities =  37964660682.0
TQM tt_asset =  4436396395.0
TQM TotalStockholderEquity =  2676370960.0
TQM TotalLiab =  1425810370.0
TQM TotalCurrentAssets =  1988600500.0
TQM TotalCurrentLiabilities =  728983419.0
TTA tt_asset =  38947081000.0
TTA TotalStockholderEquity =  21265661000.0
TTA TotalLiab =  14546810000.0
TTA TotalCurrentAssets =  18762055000.0
TTA TotalCurrentLiabilities =  6618722000.0
WHA tt_asset =  82769493461.0
WHA TotalStockholderEquity =  30594107368.0
WHA TotalLiab =  48739721115.0
WHA TotalCurrentAssets =  17843122476.0
WHA TotalCurrentLiabilities =  18635927116.0
BCH tt_asset =  26383759477.0
BCH TotalStockholderEquity =  12979724347.0
BCH TotalLiab =  12078120778.0
BCH TotalCurrentAssets =  13541267718.0
BCH TotalCurrentLiabilities =  7847512819.0

In [93]:
dffinan2021

,TotalAssets,TotalCurrentLiabilities,TotalCurrentAssets,TotalLiab,TotalStockholderEquity
ACE,18740200511.0,1327195065.0,2671920110.0,5371622899.0,13315330526.0
ADVANC,356221742939.0,91868271839.0,35566080608.0,274397220562.0,81698752332.0
AEONTS,NaN,NaN,NaN,NaN,NaN
AMATA,45470855090.0,8304171103.0,12443541130.0,23462422059.0,17723263521.0
AOT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
TTA,38947081000.0,6618722000.0,18762055000.0,14546810000.0,21265661000.0
TTB,1759180734000.0,1448779401000.0,197792952000.0,1548345039000.0,210834555000.0
TU,NaN,NaN,NaN,NaN,NaN
VGI,NaN,NaN,NaN,NaN,NaN
WHA,82769493461.0,18635927116.0,17843122476.0,48739721115.0,30594107368.0

In [ ]:
year = '2019-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2019['TotalLiab'][stockname] = float(getbal.loc['Total Liab',year][0])
    print(stockname,'tt_curass = ',dffinan2019['TotalLiab'][stockname])
  except:
    dffinan2019['TotalLiab'][stockname] = np.nan
    print(stockname,'tt_curass= ไม่มี')

In [ ]:
year = '2019-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2019['TotalCurrentAssets'][stockname] = float(getbal.loc['Total Current Assets',year][0])
    print(stockname,'tt_curass = ',dffinan2019['TotalCurrentAssets'][stockname])
  except:
    dffinan2019['TotalCurrentAssets'][stockname] = np.nan
    print(stockname,'tt_curass= ไม่มี')

In [ ]:
year = '2019-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2019['TotalCurrentLiabilities'][stockname] = float(getbal.loc['Total Current Liabilities',year][0])
    print(stockname,'tt_curlia = ',dffinan2019['TotalCurrentLiabilities'][stockname])
  except:
    dffinan2019['TotalCurrentLiabilities'][stockname] = np.nan
    print(stockname,'tt_curlia = ไม่มี')

In [88]:
year = '2020-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2020['TotalAssets'][stockname] = float(getbal.loc['Total Assets',year][0])
    print(stockname,'tt_asset = ',dffinan2020['TotalAssets'][stockname])
  except:
    dffinan2020['TotalAssets'][stockname] = np.nan
    print(stockname,'tt_asset = ไม่มี')

ADVANC tt_asset =  350170577386.0
AOT tt_asset = ไม่มี
AWC tt_asset =  133423011161.0
BANPU tt_asset =  9376660000.0
BBL tt_asset =  3822959685000.0
BDMS tt_asset =  136050251243.0
BEM tt_asset =  113615758299.0
BGRIM tt_asset =  130695879541.0
BH tt_asset =  24221665401.0
BLA tt_asset =  339778270000.0
BTS tt_asset = ไม่มี
CBG tt_asset =  17086676535.0
CPALL tt_asset =  523354329708.0
CPF tt_asset =  761719085000.0
CPN tt_asset =  221652288356.0
CRC tt_asset =  239179945394.0
DTAC tt_asset =  174280386848.0
EA tt_asset =  78483768062.0
EGCO tt_asset =  214437695000.0
GLOBAL tt_asset =  36020304871.0
GPSC tt_asset =  256656318380.0
GULF tt_asset =  245580506466.0
HMPRO tt_asset =  56090773174.0
INTUCH tt_asset =  52636607611.0
IRPC tt_asset =  173490552337.0
IVL tt_asset =  453171506000.0
JMART tt_asset =  25901089287.0
JMT tt_asset =  14270414754.0
KBANK tt_asset =  3658797759000.0
KCE tt_asset =  17377039415.0
KTB tt_asset =  3327780269000.0
KTC tt_asset =  91594496069.0
LH tt_asset =  122571063309.0
MINT tt_asset =  362326518439.0
MTC tt_asset =  77221877873.0
OR tt_asset =  144979303514.0
OSP tt_asset =  25855484746.0
PTT tt_asset =  2544182883923.0
PTTEP tt_asset =  22493446000.0
PTTGC tt_asset =  489382652865.0
SAWAD tt_asset =  52007372000.0
SCB tt_asset =  3278383519000.0
SCC tt_asset =  749380878000.0
SCGP tt_asset =  172428880000.0
TIDLOR tt_asset =  53335522000.0
TISCO tt_asset =  275443212000.0
TOP tt_asset =  306187659869.0
TRUE tt_asset =  617547900000.0
TTB tt_asset =  1808331830000.0
TU tt_asset = ไม่มี
ACE tt_asset =  16429688248.0
AEONTS tt_asset = ไม่มี
AMATA tt_asset =  40221654814.0
AP tt_asset =  58723858871.0
BAM tt_asset =  132069623000.0
BCP tt_asset =  148322591933.0
BCPG tt_asset =  51219570678.0
BEC tt_asset =  9518866095.0
CENTEL tt_asset = ไม่มี
CHG tt_asset =  6200786743.0
CK tt_asset =  82774017790.0
CKP tt_asset =  67038450783.0
COM7 tt_asset =  9206718030.0
DOHOME tt_asset =  20765167188.0
EPG tt_asset = ไม่มี
ESSO tt_asset =  61378085000.0
FORTH tt_asset =  7822373899.0
GUNKUL tt_asset =  46032156115.0
HANA tt_asset =  25180132139.0
KEX tt_asset =  19318235000.0
KKP tt_asset =  363411016000.0
MAJOR tt_asset =  17678214862.0
MEGA tt_asset =  11556824000.0
ONEE tt_asset =  7554527598.0
ORI tt_asset =  33693566957.0
PLANB tt_asset =  12250205078.0
PSL tt_asset =  21396846488.0
PTG tt_asset =  42037401148.0
QH tt_asset =  47667126773.0
RATCH tt_asset =  112132252361.0
RBF tt_asset =  4883395002.0
RCL tt_asset =  17989308542.0
SINGER tt_asset =  9255107754.0
SPALI tt_asset =  68206518936.0
SPRC tt_asset =  46541076599.0
STA tt_asset =  93117222299.0
STARK tt_asset =  27358225706.0
STEC tt_asset =  44033273753.0
STGT tt_asset =  44235899448.0
SUPER tt_asset = ไม่มี
SYNEX tt_asset =  8884836963.0
TASCO tt_asset =  21334457582.0
TCAP tt_asset =  140755634000.0
THANI tt_asset =  48518010906.0
TIPH tt_asset =  44472227738.0
TQM tt_asset =  3607067065.0
TTA tt_asset =  31029233000.0
VGI tt_asset = ไม่มี
WHA tt_asset =  82621108360.0
BCH tt_asset =  16527296958.0

In [58]:
year = '2019-12-31'

for x in  liststock: 
  getbal = pd.DataFrame(yf.Ticker(x).balancesheet)
  stockname = x.split('.')[0]
  try:
    dffinan2019['TotalAssets'][stockname] = float(getbal.loc['Total Assets',year][0])
    print(stockname,'tt_asset = ',dffinan2019['TotalAssets'][stockname])
  except:
    dffinan2019['TotalAssets'][stockname] = np.nan
    print(stockname,'tt_asset = ไม่มี')

ADVANC tt_asset =  289669121728.0
AOT tt_asset = ไม่มี
AWC tt_asset =  136493319649.0
BANPU tt_asset =  8068983000.0
BBL tt_asset =  3216743095000.0
BDMS tt_asset =  133661737019.0
BEM tt_asset =  111696769983.0
BGRIM tt_asset =  121692804686.0
BH tt_asset =  26181032487.0
BLA tt_asset =  333680074000.0
BTS tt_asset = ไม่มี
CBG tt_asset =  14780035767.0
CPALL tt_asset =  375617454248.0
CPF tt_asset =  634050559000.0
CPN tt_asset =  169933034161.0
CRC tt_asset =  183505495791.0
DTAC tt_asset =  167258148509.0
EA tt_asset =  70219694143.0
EGCO tt_asset =  208522604655.0
GLOBAL tt_asset =  35986387102.0
GPSC tt_asset =  252016615805.0
GULF tt_asset =  134277543428.0
HMPRO tt_asset =  52048956933.0
INTUCH tt_asset =  49534541988.0
IRPC tt_asset =  177850388896.0
IVL tt_asset =  380567907000.0
JMART tt_asset =  20372771133.0
JMT tt_asset =  10141669368.0
KBANK tt_asset =  3293888989000.0
KCE tt_asset =  16501002829.0
KTB tt_asset =  3012216120000.0
KTC tt_asset =  85409262233.0
LH tt_asset =  113139047557.0
MINT tt_asset =  254183767019.0
MTC tt_asset =  61871602220.0
OR tt_asset =  152176212017.0
OSP tt_asset =  24323866138.0
PTT tt_asset =  2486964962939.0
PTTEP tt_asset =  22285281406.0
PTTGC tt_asset =  452514389806.0
SAWAD tt_asset =  45461609000.0
SCB tt_asset =  2963746319000.0
SCC tt_asset =  634733228000.0
SCGP tt_asset =  139513045000.0
TIDLOR tt_asset =  48411121000.0
TISCO tt_asset =  298143090000.0
TOP tt_asset =  283444527403.0
TRUE tt_asset =  523992744000.0
TTB tt_asset =  1858190275000.0
TU tt_asset = ไม่มี
ACE tt_asset =  14145176999.0
AEONTS tt_asset = ไม่มี
AMATA tt_asset =  36397404975.0
AP tt_asset =  58794214013.0
BAM tt_asset =  119919445000.0
BCP tt_asset =  127787983528.0
BCPG tt_asset =  37136571287.0
BEC tt_asset =  11354478663.0
CENTEL tt_asset = ไม่มี
CHG tt_asset =  6265689876.0
CK tt_asset =  82585589045.0
CKP tt_asset =  64190929771.0
COM7 tt_asset =  9159674064.0
DOHOME tt_asset =  18151712839.0
EPG tt_asset = ไม่มี
ESSO tt_asset =  66242629000.0
FORTH tt_asset =  7617017184.0
GUNKUL tt_asset =  39041539734.0
HANA tt_asset =  24426182315.0
KEX tt_asset =  6014207000.0
KKP tt_asset =  311690006000.0
MAJOR tt_asset =  17867744771.0
MEGA tt_asset =  10532705000.0
ONEE tt_asset =  4168356831.0
ORI tt_asset =  32079478552.0
PLANB tt_asset =  7979447810.0
PSL tt_asset =  25060551330.0
PTG tt_asset =  22651871897.0
QH tt_asset =  50901914534.0
RATCH tt_asset =  100229426498.0
RBF tt_asset =  4412314421.0
RCL tt_asset =  17037585377.0
SINGER tt_asset =  5891554428.0
SPALI tt_asset =  60511439892.0
SPRC tt_asset =  54294080790.0
STA tt_asset =  58330866449.0
STARK tt_asset =  12654691768.0
STEC tt_asset =  49207394784.0
STGT tt_asset =  13216097135.0
SUPER tt_asset = ไม่มี
SYNEX tt_asset =  11341853397.0
TASCO tt_asset =  25261902971.0
TCAP tt_asset =  160926562000.0
THANI tt_asset =  50880934210.0
TIPH tt_asset =  40900313822.0
TQM tt_asset =  4256958273.0
TTA tt_asset =  33473051000.0
VGI tt_asset = ไม่มี
WHA tt_asset =  82263830856.0
BCH tt_asset =  14115628718.0

In [44]:
getbal = pd.DataFrame(yf.Ticker('BCH').balancesheet)
print(getbal.loc['Total Assets',year][0])

41273333000000.0

In [ ]:

  yf.Ticker(x).cashflow

In [133]:
data = yf.download(liststock, start="2019-01-01",end="2019-12-30")
dataclose2019 = data.Close
dataclose2019 = dataclose2019.dropna(axis=1)

[*********************100%***********************]  100 of 100 completed

9 Failed downloads:
- TIDLOR.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- ONEE.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- SCB.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- STGT.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- SCGP.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- CRC.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- TIPH.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- OR.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800
- KEX.BK: Data doesn't exist for startDate = 1546275600, endDate = 1577638800

           Adj Close                                                          \
              ACE.BK   ADVANC.BK   AEONTS.BK   AMATA.BK     AOT.BK     AP.BK
Date
2019-01-02       NaN  150.048965  163.246170  19.066919  62.977455  5.005721
2019-01-03       NaN  149.184128  166.368408  18.790588  62.242310  5.088459
2019-01-04       NaN  153.075867  166.368408  19.711697  63.222504  5.088459
2019-01-07       NaN  153.075867  166.814392  20.356472  62.977455  5.171199
2019-01-08       NaN  153.508301  166.814392  20.356472  63.467552  5.253938
...              ...         ...         ...        ...        ...       ...
2019-12-23  4.079024  197.199112  173.134552  18.610271  74.565460  5.926332
2019-12-24  4.000582  192.717300  172.220917  18.703791  72.825600  6.013484
2019-12-25  3.980972  192.717300  172.220917  18.797308  73.571259  6.100636
2019-12-26  4.000582  192.717300  172.220917  18.703791  74.316910  6.405667
2019-12-27  4.020193  191.820923  173.134552  18.890827  73.819809  6.405667

                                                        ...  Volume           \
              AWC.BK     BAM.BK   BANPU.BK      BBL.BK  ... TIPH.BK TISCO.BK
Date                                                    ...
2019-01-02       NaN        NaN  11.952485  177.427383  ...     NaN  2929000
2019-01-03       NaN        NaN  11.792048  179.175446  ...     NaN  2845000
2019-01-04       NaN        NaN  12.594229  177.427383  ...     NaN  2321500
2019-01-07       NaN        NaN  13.155755  181.797516  ...     NaN  3744100
2019-01-08       NaN        NaN  13.075536  180.923492  ...     NaN  2266400
...              ...        ...        ...         ...  ...     ...      ...
2019-12-23  5.708539  16.219667   9.868606  145.075058  ...     NaN  1694900
2019-12-24  5.758180  16.491508   9.952238  145.075058  ...     NaN   736500
2019-12-25  5.758180  16.491508   9.868606  145.527008  ...     NaN   330800
2019-12-26  5.758180  16.491508   9.952238  144.623138  ...     NaN  1028300
2019-12-27  5.708539  16.400894   9.868606  144.171173  ...     NaN  1970500

                                                                        \
              TOP.BK   TQM.BK    TRUE.BK   TTA.BK     TTB.BK     TU.BK
Date
2019-01-02   9628500  1443200   53716600   511000  106565295   4460900
2019-01-03   6053600  4797800   62489300  1921000  109987431   9898300
2019-01-04  15328200  2247200  144718300  1099300   97578182  13726000
2019-01-07  15595400   848800   87312700  1366400  130708442  11431000
2019-01-08   6634500   211800   48637500   846600   65327977   9121900
...              ...      ...        ...      ...        ...       ...
2019-12-23   8643200  3048000   87288200   373900  571444600  13850900
2019-12-24   2593200  4122200   53762700  1008700  368798400   5583800
2019-12-25   1550300  4485200   27132700  1256500  167424500   2213000
2019-12-26   2282100  4176400   36008600  1091000  205011600   2810400
2019-12-27   5251700  4911800  123747200   439600  189123200  11207100


              VGI.BK     WHA.BK
Date
2019-01-02  10150700   80663700
2019-01-03  10202000   46101300
2019-01-04   8319200  139231100
2019-01-07  30698300   58618800
2019-01-08   3764000   67614700
...              ...        ...
2019-12-23   5752600   94177100
2019-12-24   5673800   95248400
2019-12-25  13463300   36508500
2019-12-26  31871400   61466000
2019-12-27  15741100   50055200

[243 rows x 600 columns]

In [153]:
data2 = yf.download(liststock, start="2020-01-01",end="2020-12-30")
dataclose2020 = data2.Close
dataclose2020 = dataclose2020.dropna(axis=1)

[*********************100%***********************]  100 of 100 completed

5 Failed downloads:
- TIDLOR.BK: Data doesn't exist for startDate = 1577811600, endDate = 1609261200
- ONEE.BK: Data doesn't exist for startDate = 1577811600, endDate = 1609261200
- SCB.BK: Data doesn't exist for startDate = 1577811600, endDate = 1609261200
- TIPH.BK: Data doesn't exist for startDate = 1577811600, endDate = 1609261200
- OR.BK: Data doesn't exist for startDate = 1577811600, endDate = 1609261200

In [2]:
data3 = yf.download(liststock, start="2021-01-01",end="2021-12-30")
dataclose2021 = data3.Close
dataclose2021 = dataclose2021.dropna(axis=1)
dataclose2021

NameError: ignored

In [ ]:
for l in dataclose2021:
  print(l  , ' ' , dataclose2020[l].isnull().sum())

In [ ]:
#2021 returntovol
for l in dataclose2021:
  print(l)
  vola2021 = dataclose2021[l].std(axis=0)
  returns2021 = (dataclose2021[l]['2021-12-29']/dataclose2021[l]['2021-01-04']-1) *100
  print('return = ',returns2021)
  print( 'returntovol = ', returns2021/vola2021)

In [ ]:
#2020 returntovol
for l in dataclose2020:
  print(l)
  vola2020 = dataclose2020[l].std(axis=0)
  returns2020 = (dataclose2020[l]['2020-12-29']/dataclose2020[l]['2020-01-02']-1) *100
  print('return = ',returns2020)
  print( 'returntovol = ', returns2020/vola2020)

In [ ]:
#2019 returntovol
for l in dataclose2019:
  print(l)
  vola2019 = dataclose2019[l].std(axis=0)
  returns2019 = (dataclose2019[l]['2019-12-27']/dataclose2019[l]['2019-01-02']-1) *100
  print(return2019)
  print( 'returntovol = ', returns2019/vola2019)

In [ ]:
dataclose2019.to_excel("close2019.xlsx")

In [161]:
dataclose2020.to_excel("close2020.xlsx")

In [172]:
dataclose2021.to_excel("close2021.xlsx")